@mixin sheet-header() {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: var(--font-size-18);
    background: var(--divider);
    text-align: center;
    color: white;
}

@mixin gradient-border($color: rgba(0,0,0,0.4738270308123249)) {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, $color 50%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
}

@mixin dice-container() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    .die {
        position: relative;


        .dice-img {
            flex: none;
            width: 2.25rem;
            height: 2.25rem;
        }

        &.selected {
            .dice-img {
                outline: 3px solid var(--color-active)
            }
        }

        .dice-highlight {
            background-color: #daa520;
            border-radius: 4px;
        }

        .dice-failed {
            background-color: darkgray;
            border-radius: 4px;
        }

        .die-icon {
            height: 1.25rem;
            width: 1.25rem;
            background-color: var(--color-header-blue);
            color: var(--color-active);
            border-radius: 50%;
            border: 2px solid var(--color-active);
            position: absolute;
            text-align: center;
            line-height: 1rem;
            font-size: 1rem;
            z-index: 1;
        }

        .reroll-icon {
            top: -5px;
            right: -5px;
        }

        .focus-counter {
            bottom: -5px;
            right: -5px;
        }
    }
}