#character-creation .character-creation{
    height: calc(100% - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #character-creation .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.08;
    pointer-events: none;
  }
  
#character-creation form {
    height: 100%
}
  
  .character-creation header input{
    font-family: var(--font-header);
    color : var(--color-header-gold);
    text-align: center;
    border: 2px solid var(--color-header-gold);
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;;
  }
  
  .character-creation  input:focus{
    box-shadow: none;
  }
  
  .character-creation header{
    flex: 0 0 40px;
    margin: 10px;
  }
  
  
  .character-creation .sheet-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px)
  }
  
  .character-creation .sheet-body .attributes {
      flex: 0 0 130px;
      display: flex;
      justify-content: space-around;
  }

  .character-creation .sheet-body .attributes .attribute {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;;
  }
  
  .character-creation .sheet-body .attributes input {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 50px;
    font-family: var(--font-header);
    color : var(--color-header-gold);
    border: 2px solid var(--color-header-gold);
}

.character-creation .sheet-body .attributes label {
    font-family: var(--font-header);
    color : var(--color-header-gold);
    font-size: 20px;
} 
  


.character-creation .sheet-body .cc-columns {
    display: flex;
    height: calc(100% - 125px);
    overflow: hidden;
} 

.character-creation .sheet-body .cc-columns > *{
    flex: 1;
    overflow: auto;
} 


.character-creation .sheet-body .cc-columns .skills{
    flex: 1
} 

.character-creation h3 {
    font-family: Quadrant-Regular;
    font-size: 16pt;
    font-weight: normal;
    margin: 0;
    padding: 0px 4px;
    flex-grow: 1;
    text-align: center;
    border: none
}

.character-creation .sheet-body .skills .skill{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.character-creation .sheet-body .skills .skill > *{
    flex: 1;
    display: flex;
}

.character-creation .sheet-body .skills .skill > *{
    flex: 1;
    display: flex;
    font-family: Quadrant-Regular;
    font-size: 12pt;
    justify-content: space-around;
    align-items: center;
}


.character-creation .sheet-body .skills .skill-button button {
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 20px;
    line-height: 20px;;
}

#character-creation .talent {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  #character-creation .talent-header {
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
  }
  
  #character-creation .talent-header img {
    height: 50px;
    width: 50px;
  }
  
  #character-creation .talent-header label {
    text-align: center;
    font-weight: bold;
    flex: 1
  }


#character-creation .equipment {
  padding: 10px;
}



#character-creation .equipment .equipment-group {
  display: flex;
  flex-wrap: wrap;
}

#character-creation .equipment .equipment-group.root {
  flex-direction: column;
}

#character-creation .equipment .equipment-group .connector {
  margin: 0px 3px;
}

#character-creation .equipment .equipment-group .equipment-selector {
  margin: 0px 3px;
}

#character-creation .equipment .equipment-group .equipment-item {
  color: var(--color-imperium);
  font-weight: bold;
  cursor: pointer
}

#character-creation .equipment .equipment-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-creation .equipment .equipment-selection > .equipment-item,
  #character-creation .equipment .equipment-selection > .equipment-group{
  border-bottom: 1px solid var(--color-header-blue)
}

#character-creation .disabled {
  opacity: 0.5
}

#character-creation .talent-count,
#character-creation .aqua-ghyranis,
    #character-creation .xp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#character-creation .talent-count input,
#character-creation .xp input{
    width: 30px;
    margin: 3px;
    text-align: center;
}

#character-creation .aqua-ghyranis input {
    width: 60px;
    margin: 5px;
}

#character-creation input.error {
    border: 1px solid darkred;
    color: darkred;
}