:root {
    /*--color-text-light-3: var(--color-header-blue)*/
}

li.folder > .folder-header .create-folder, li.folder > .folder-header .create-document
{
    color: var(--color-header-blue)
}


.dark button {
    background: url(./asset/image/header-background-vertical.webp)
}

a:hover {
    text-shadow: 0 0 8px goldenrod
}

.tabs .item.active {
        text-shadow: 0 0 10px goldenrod
}

select:focus {
    box-shadow: 0 0 5px goldenrod
}

#block-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid goldenrod;
    box-shadow: 0 0 10px gold;
}

select {
    border-radius: 0px;
    border: 1px solid var(--color-header-gold);
    /*background: url(./asset/image/input-bg.webp);
    background-size: 100%;
    background-position: 0px 0px;*/
}

#block-tabs > .item.active {
    border:1px solid goldenrod;
    box-shadow: 0 0 6px inset goldenrod;
}

input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="time"]:focus {
    box-shadow: 0 0 5px goldenrod;
}

.window-header{
    display:flex;
    flex-direction: row;
    color: var(--color-text);
    font-family: var(--font-text);
    color: whitesmoke;
    border: 2px solid #7c6c42;
    background-image: url('./asset/image/header-background.webp');
    background-size: cover;
    border-bottom: none
}

::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
    border: 1px solid goldenrod;
}

#playlists .global-control .playlist-header,
li.folder.collapsed > .folder-header {
    color: black;
    background: none;
    border-top: none;
}

li.folder > .folder-header h3 {
    color: black;
}

.compendium .header-control {
    color: black;
}

#playlists .sound-control {
    color: black;
}


#combat li.combatant {
    font-family: Quadrant-Regular;
    color:  var(--color-border)
}


#combat li.combatant .token-initiative .initiative {
    font-size: 18px;
    text-shadow: none
}

#combat li.combatant.active {
    background: rgba(0, 0, 0, 0.2);
}

li.directory-item.folder:not(.collapsed) {
    box-shadow: inset 0 0 10px blue;
}

.directory .directory-list .directory-item.context, .directory .directory-list .directory-item.active {
    border-color: var(--color-active);
}


.block-popout li.folder > .folder-header h3 {
    color: black;
}


#combat #combat-round .encounters a {
    color: unset;
}

#combat #combat-round .encounters h4 {
    color: unset
}

#combat li.combatant .token-name {
    text-shadow:unset;
}

#combat li.combatant .roll {

    background: url(/icons/svg/d20-black.svg) no-repeat 50% 50%;
    background-size: 32px;

}

#compendium .compendium-name {
    color: var(--color-text);
    font-family: var(--font-text);
    color: whitesmoke;
    border: 2px solid #7c6c42;
    background-image: url('./asset/image/header-background.webp');
    background-size: cover;
}

#compendium .source {
    color: whitesmoke;
}

#compendium li.compendium-pack .compendium-footer {
    color: var(--color-border)
}

.soulbound.sheet.actor .window-content .fas:hover,
.soulbound.sheet.actor .window-content .button:hover,
.soulbound.sheet.actor .window-content .item-control:hover {
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}

.soulbound h1 {
    font-family: Quadrant-Regular;
    font-size: 14pt;
    font-weight: normal;
    border:none;
    margin: 0;
    padding: 2px 4px;
    flex-grow: 1;
    text-align: center;
}

.soulbound h2 {
    color:whitesmoke;
}

.soulbound h3 {
    font-family: Quadrant-Regular;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    padding: 0px 4px;
    flex-grow: 1;
    text-align: center;
    border: none
}

.soulbound .combat-misc h3 {
    text-align: left;
}

.soulbound h4 {
    color: whitesmoke;
}

.soulbound.sheet .editor{
    height: 100%;
}

.soulbound.sheet .tox{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    min-height: 550px;
}

.soulbound.sheet .tox-edit-area{
    padding: 0px 7px;
}

.soulbound.sheet .journal-entry-page.text{
    padding: 0px 7px;
}

.window-app .window-content {
    background: url(./asset/image/background.webp) repeat;
}

.window-app.image-popout .window-content {
    background: url(./asset/image/background.webp) repeat;
}

.dialog {
    justify-content: stretch;
}

.dialog .dialog-buttons{
    flex: 0 0 35px;
}

.chat .target-name,
    .roll-dialog .target-name {
    font-size : 14px;
}



.content-box{
    display: flex;
    flex-direction: column;
    background: url(./asset/image/input.webp) repeat;
    border-left: 2px solid #7c6c42;
}

/* .fill{
    height:100%;
}
 */
.content-row{
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid #7c6c42;
    flex-grow:1;
    align-items:stretch;
}

.content-column{
    display:flex;
    flex-direction: column;
    border-right: 2px solid #7c6c42;
    flex-grow: 1;
}

.content-rowElement{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 4px;
    border-bottom: 2px solid #7c6c42;
    border-right: 2px solid #7c6c42;
}

.content-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    font-family: var(--font-text);
    color: whitesmoke;
    border-bottom: 2px solid #7c6c42;
    background-image: url('./asset/image/header-background.webp');
    background-size: cover;
    border-right: 2px solid #7c6c42;
    border-top: 2px solid #7c6c42;
    justify-content: center;
}


.dialog .content-header{
    text-transform: uppercase;
}


.content-wrapper{
    display:flex;
    flex-direction: column;
    align-content:stretch;
    align-items: stretch;
    border-right: 2px solid #7c6c42;
    border-bottom: 2px solid #7c6c42;
    flex-grow:1;
}

.content-label-centered{
    text-align: center;
    flex-grow: 1;
    font-family: Quadrant-Regular;
    font-size: 10pt;
    font-weight: normal;
    text-transform: capitalize;
}

.segment-vertical{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2px 2px;
}

.segment-horizontal{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.entry-vertical{
    display:flex;
    flex-direction: column;
    flex:1;
    border-right: 2px solid #7c6c42;
    justify-content: center;
    align-items: center;

}

.entry-horizontal{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    border-right: 2px solid #7c6c42;
    padding: 2px;
}

.entry-inputs { 
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.entry-inputs > *{  
    flex: 1;
    margin: 3px;
}
.entry-inputs > input {
    flex: 0.5
}

.entry-inputs > input[type="checkbox"] {
    flex:1
}

.entry-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entry-list .entry-content {
    display: flex;
}

.entry-list .entry-element {
    display : flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.entry-list .inline-list{
    display: flex;
    flex-wrap: wrap;
}


.entry-list .inline-list > *{
    margin: 3px;
    border: 1px solid darkslategray;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 2px;
}



.entry-list .entry-element > *{
    flex: 1
}

.entry-list .entry-element > .entry-controls{
    flex: 0 0 60px;
}

.entry-list .entry-element > a{
    flex: unset;
    margin: 0px 5px;
}


.entry-list .entry-element .ratio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-list .entry-element .ratio > * {
    flex: unset
}

.entry-list .entry-element .ratio > input {
    flex : 0 0 30px
}

.entry-list .entry-element.equipment:hover,
    .entry-list .entry-element.talents:hover {
    cursor: pointer;
    text-shadow: 0 0 8px goldenrod
    
}





.dialog-value {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border:none;
}

.dialog input{
    border:none;
}

.dialog select{
    border:none;
}



.editor,
.journal-entry-page.text {
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--color-text);
}

.editor h1,
.journal-page-header h1,
.journal-page-content h1 { 
    font-family: var(--font-header);
    text-transform: uppercase;
    color: var(--color-header-gold);
    font-size: 40px;
    text-align: center;
    border: 2px solid var(--color-header-gold);
    border-left: 0px;
    border-right: 0px;
    line-height: 26px;
    padding-top: 4px;
}

.journal-sheet input{
  font-family: var(--font-header);
  color : var(--color-header-gold);
  text-align: center;
  border: 2px solid var(--color-header-gold);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}

.editor h2,
.journal-page-header h2,
.journal-page-content h2 { 
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: 26px;
  color: var(--color-header-gold);
  border-bottom: 2px solid var(--color-header-gold);
}

.editor h3,
.journal-page-header h3,
.journal-page-content h3 { 
  font-family: var(--font-header);
  font-size : 28px;
  font-variant: small-caps;
  color: var(--color-header-blue);
  border: none;
}

.editor h3.like-h1,
.journal-page-content h3.like-h1 { 
font-family: var(--font-header);
text-transform: uppercase;
color: var(--color-header-gold);
font-size: 40px;
text-align: center;
border: 2px solid var(--color-header-gold);
border-left: 0px;
border-right: 0px;
line-height: 26px;
padding-top: 4px;
}

.editor .block h3,
.journal-page-content .block h3 { 
  font-family: var(--font-header);
  margin: 20px 0px;
  text-align: center;
  font-variant: small-caps;
  font-size: 24px;
  border: none;
  color: var(--color-header-gold)
}

.journal-page-content .sidebar,
.editor .sidebar {
    border-left: 3px solid darkgoldenrod
}

.editor.sidebar h4,
.journal-page-content .sidebar h4 {
    text-transform: unset;
    font-size: 16px;
}
.journal-page-content .sidebar h3,
.editor .sidebar h3 {
    font-size: initial;
}

.editor  h4,
.journal-page-header h4,
.journal-page-content h4 { 
  font-family: var(--font-header);
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-header-blue)
}

.editor  h5,
.journal-page-header h5,
.journal-page-content h5 { 
  font-family: var(--font-header);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  margin: 0 0 0.5rem;
  font-weight: normal
}

.editor .block,
.journal-page-content .block {
    background-color: black;
    font-family: var(--font-sidebar);
    color: white;
    border: 5px solid transparent;
    border-image: url(./asset/image/sidebar-border.webp) 8 8 8 8 repeat repeat;
    margin-right: 10px;
} 

/* .editor .block::before,
.journal-entry-page.text .block::before {
    content: "";
    background-image: url(./asset/image/block-top.webp) ;
} */

.editor table,
.journal-entry-page.text table {
    /*background: url(./asset/image/input-bg.webp);
    background-size: fill;*/
    border: 1px solid var(--color-header-gold)
}

.editor table td,
.journal-entry-page.text table td {
    border: 1px solid var(--color-header-gold)
}

.editor table .table-header,
.journal-entry-page.text table .table-header {
    background: url(./asset/image/header-background.webp);
    background-size: cover;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: var(--font-header);
}
table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}


/* .placeable-hud .control-icon, */
#controls ol.control-tools > li,
    #controls ol.scene-controls > li {
        color: white;
    background: url(./asset/image/header.webp) repeat;
    background-size: 50%;
    border: 1px solid var(--color-header-gold)
}

#controls ol.control-tools > li.active,
#controls ol.scene-controls > li.active {
    border: 1px solid var(--color-active);
    background: url(./asset/image/background.webp) repeat;
    color: var(--color-header-blue);
    box-shadow: 0 0 10px var(--color-active)
}

#controls ol.control-tools  > li:hover,
#controls ol.scene-controls > li:hover {
    border: 1px solid var(--color-active);
}

#navigation #scene-list .scene.view {
    color: var(--color-header-blue);
    border: 1px solid var(--color-active);
    background: url(./asset/image/background.webp) repeat;
    box-shadow: 0 0 10px var(--color-active);
}

#navigation #scene-list .scene {
    color: white;
    font-family: var(--font-sidebar);
    border: 1px solid var(--color-header-gold);
    background: url(./asset/image/header.webp) repeat;
}

#navigation #scene-list .scene.context {
    border: 1px solid var(--color-active);
}

#navigation #nav-toggle {
    background: url(./asset/image/header.webp) repeat;
    background-size: 50%;
    border: 1px solid var(--color-header-gold)
}

#players {
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 1px solid var(--color-header-gold)
}

#players h3 {
    border-bottom: 2px groove var(--color-header-gold)

}

#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls,
    #macro-list {
    font-family: var(--font-sidebar);
    color: white;
    background: url(./asset/image/header-background.webp) repeat;
    background-size : 100%;
}

#hotbar .macro {
    border: 1px solid var(--color-header-gold)
}

#hotbar .macro:hover {
    box-shadow: 0 0 10px var(--color-header-gold) inset
}

#hotbar .macro.active:hover {
    border: 1px solid var(--color-active);
}

#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls {
    border: 2px solid var(--color-header-gold)
}

textarea:focus {
    box-shadow: 0 0 6px var(--color-active)
}


button {
    width: 100%;
    margin: 0 1px;
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 3px solid var(--color-header-gold);
    border-radius: 0px;
    font-size: 14px;
    line-height: 28px;
    color: white;
    font-family: var(--font-sidebar);
}

form button {
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 3px solid var(--color-header-gold);
}

.dialog .dialog-buttons button {
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 3px solid var(--color-header-gold);
    /*margin: 5px;*/
}

.dialog .dialog-buttons button.default {
    box-shadow: 0 0 10px inset var(--color-active);
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 3px solid var(--color-header-gold);
}

button:hover {
    box-shadow: 0 0 10px var(--color-active);
    border: 3px solid var(--color-header-gold);
}

button:disabled {
    color: white;
    opacity : 0.5;
}

.filepicker .current-dir button {
    background: url(./asset/image/header-background-vertical.webp) repeat;
    border: 1px solid var(--color-header-gold);
}


.sheet footer.sheet-footer > button {
    margin: 5px;
}

#chat-controls .roll-type-select,
.directory .directory-header .header-search input {
    background: none;
}

.directory .action-buttons button {
    line-height: 20px;
}

a.content-link,
a.inline-roll {
    background: none;
    border: 1px solid var(--color-header-gold);
    color: darkslategrey
}

a.content-link i,
a.inline-roll i {
    color: darkslategrey;
    vertical-align: middle;
}
.editor .block a.content-link i,
.journal-entry-page.text .block a.content-link i {
    color: var(--color-active)
} 

.editor .block a.content-link,
.journal-entry-page.text .block a.content-link {
    color: white;
}

#settings #game-details {
    color: white;
    background: url(./asset/image/header-background.webp) ;
    background-size: cover;
    outline: 3px solid var(--color-header-gold);
}


#client-settings section.content .submenu > button {
    height: unset
}


.sheet.journal-entry {

    .window-content {
        background: url(./asset/image/background.webp) repeat;
    }

    .journal-entry-content {
        border: none;
        background: none;
    }

}

.journal-sheet {
    form {
        background: none
    }

    .journal-sidebar {
        background : none;
        border: none;
        border-right : 3px solid var(--color-header-gold);
        color: var(--color-text);
        font-family: var(--font-text);

        .pages-list {
            color: var(--color-text);

            .level4 .page-title {
                text-indent: calc(3 * var(--level-indent));
            }
        }

        .directory-header {
            a {
                color: var(--color-header-blue)
            }
        }

        .directory-item.active {
            
        }
    }
}

.prosemirror .editor-menu {
    // background: linear-gradient(36deg, rgba(83,123,176,1) 0%, rgba(24,48,81,1) 33%, rgba(24,48,81,1) 66%, rgba(83,123,176,1) 100%);
    // border: 0px;
    background: rgba(128, 107, 58, 0.5);
    border-radius: 0px  ;
    .pm-dropdown {
        color: var(--color-header-blue)
    }
    .pm-dropdown:hover {
        color: var(--color-header-blue)
    }
}

.soulbound .editor-content {
    padding: 0px 5px
}

#tooltip {
    background: var(--color-header-blue);
    border: 2px solid var(--color-active);
    border-radius: 10px;
}