/*
** Actor
 */

 .soulbound.sheet.actor form{
    height: 100%
}


.soulbound.sheet.actor .window-content {
   background: url(./asset/image/background.webp) repeat;
   overflow:hidden;
}

.soulbound.sheet.item .window-content {
   overflow:hidden;
}

.soulbound.sheet.item .window-content form {
   height: 100%
}


.soulbound.sheet.item .window-content .sheet-content{
   height: calc(100% - 80px);
}


.soulbound.sheet .sheet-body {
   display:flex;
   flex-direction: column;
   height:100%;
}

.sheet-content {
   display:flex;
   flex-direction:column;
   overflow-y:auto;
   height:90%;
}

.soulbound.sheet .tab.active {
   display:flex;
   flex-grow:1;
   flex-direction: column;
   height:100%; 
}

.soulbound.sheet input {
   border: none;
   border-radius:none;
   text-align: center;
   font-size: 10pt;
   padding:1px;
   margin:1px;
   height:22px;
}

.soulbound.sheet img {
   border: none;
   border-radius:none;
   text-align: center;
   font-size: small;
   padding: 2px;
}

.sheet-header {
   display: flex;
   flex-direction: row;
   background-image: url('./asset/image/header-background.webp');
   background-size: cover;
   margin: 0px 0px 0px 32px; 
   border: 2px solid #7c6c42;
}

.item .sheet-header {
   margin: 0px 0px 0px 72px;
}

.soulbound.sheet.item .content-row.talent .entry-list h4 input {
    width: 25px;
    margin-left: 5px;
}

.item .content-row.skills {
    display: flex;
    flex-direction: column;
}

.item .content-row .skill-selection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    height: 300px;
}

.item .content-row .skill-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.item .content-row .skill-header .core,
    .item .content-row .skill-header .xp {
    display: flex;
    align-items: center;
    padding: 3px;
    flex: 1
}

.item .content-row .skill-header .xp {
    justify-content: center;
}

    .item .content-row .skill-header .xp  input{
        width: 30px;
}


.item .content-row .skill-header .core  select{
    width: 80%
}

    .item .content-row .skill-header h3 {
        flex: unset
}
.item .content-row .skill-header .core select {
    margin-left: 5px;
    height: 20px;
}


.item .content-row .skill-selection > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.sheet-header input{
   flex-grow:1;
   text-align: center;
   color:whitesmoke;
}

.active-effect-sheet .sheet-header{
   background-image: unset;
   margin: unset;
}

.active-effect-sheet .sheet-header  img{
   border: none;
   border-right: 2px solid #7c6c42;
}

.sheet-subHeader {
   display: flex;
   flex-direction: row;
   margin: 0px 0px 0px 32px; 
   padding: 0px 0px 0px 32px;
   border: 2px solid #7c6c42;
   border-top: none;
   align-items:center;
   font-size: small;
   justify-content: space-between;
}

.item .sheet-subHeader {
   margin: 0px 0px 0px 72px;
   padding: unset;
}

.sheet-subHeader > *{
   margin: 0px 5px
}

.subheader-content{
   display: flex;
   flex-direction: row;
   flex: 1;
   padding: 0px 2px;
   align-items: center;
}
.subheader-content > *{
   flex: 1;
}

.sheet-subHeader select {
   border: none;
   height: 100%;
}


.subheader-content.xp-header {
   flex: 0 0 80px
}

.soulbound.sheet .avatar {
   /*border: 2px solid #7c6c42;
    width:72px;
   height:72px;
   border-radius: 50%; */
   box-shadow: none;
   position: absolute;
   top: 34px;
   left: 4px;
   z-index: 100;
}

.soulbound.sheet .avatar img {
   border: 0 none;
   width: 72px;
   height: 72px;
   object-fit: contain;
   margin: auto;
}

.avatar img:hover {
   box-shadow: none;
   cursor: pointer;
}

.sheet-table-name {
   flex-grow:1;
   width: 120px;
   padding: 0px 4px;
}

.sheet-table-value {
   width: 25px;
   padding: 0px 2px;
   text-align: center;
}

.sheet-table-value.speed {
   flex: 3;
   text-align: right
}

.sheet-table-valueMain {
   display:flex;
   flex-direction: row;
   flex-grow:1;
   width: 40px;
   padding: 0px 2px;
   font-size: large;
}

.sheet-table-valueMain.armour {
   width: 100%;
   justify-content: center;
}

.sheet-table-valueMain.armour > input{
   width: 40px;
}

.header-element{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0px 2px;
}

.table-element{
   display:flex;
   flex-direction:row;
   flex-grow: 1;
   justify-content: space-between;
   align-items:center;
   padding: 2px 4px;
}

.table-element-vertical{
   display:flex;
   flex-direction:column;
   flex-grow: 1;
   padding: 2px 4px;
}

.table-element-row{
   display:flex;
   flex-direction:row;
   flex-grow: 1;
   justify-content: space-between;
   justify-items: space-between;
}

.roll-weapon{
   display:flex;
   flex-direction:column;
   flex-grow: 1;
}

.roll-power{
   display:flex;
   flex-direction:column;
   flex-grow: 1;
}

.show-power{
   display:flex;
   flex-direction:column;
   flex-grow: 1;
}

.table-element:nth-child(even){
   background-color: #00000010;
}

.table-label{
   display:flex;
   flex-direction:row;
}

.bold{
   font-weight: bold;
}

.soulbound.sheet .state{
   padding: 0px 4px;
}

.soulbound.sheet .content-column.combat-misc .segment-horizontal {
   flex-grow: unset;
   margin: 5px;
}

.soulbound.sheet .tabs {
    margin : 0 0 5px 0
 }
 
 .soulbound.sheet .tabs .item {
    flex-grow: 1;
    padding: 2px 0 0 0;
    border-bottom: 5px solid var(--color-header-gold);
 }
 
 .soulbound.sheet .tabs .item.active {    
    text-shadow: 0 0 10px goldenrod;
    border: 2px solid var(--color-header-gold);
    border-bottom: none;
    padding: 0 0 5px 0;
 }

.soulbound.sheet .content-row.wounds-row {
   max-height: 115px;
}

.soulbound.sheet .segment-vertical.wounds-list {
   overflow-y: auto
} 

.soulbound.sheet .segment-vertical.wounds-list .table-element {
   flex-grow: unset
} 

.soulbound.sheet .segment-vertical.wounds-list .table-element input {
   width: 30px;
} 

.soulbound.sheet .content-row.wounds-row .wounds-column .header-element{
   justify-content: unset;
}


.soulbound.sheet .content-row.wounds-row .wounds-column .header-element > *{
   flex: 1
}

.soulbound.sheet .content-row.wounds-row .wounds-column .header-element b{
   padding-left: 20px;
}

.soulbound.sheet .content-row.wounds-row .wounds-column .header-element b.damage{
   padding-left: 50px;
}

.soulbound.sheet .content-row.wounds-row .wounds-column .header-element .button{
   flex: 0 0 20px
}



/****** ITEM LISTS ******/

.soulbound.sheet .item-list-columns {
   display: flex;
}
.soulbound.sheet .item-list-columns > *{
   margin: 0px 3px;
}

.soulbound.sheet .item-list-columns > .item-list:first-of-type{
   margin-left: 0px;
}
.soulbound.sheet .item-list-columns > .item-list:last-of-type{
   margin-right: 0px;
}
   .soulbound.sheet .item-list{
   display: flex;
   flex-direction: column;
   background: url(./asset/image/input.webp) repeat;
   border: 2px solid #7c6c42;
   width: 100%
}

.soulbound.sheet .item-list .item-header{
   display:flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   color: var(--color-text);
   font-family: var(--font-text);
   color: whitesmoke;
   border-bottom: 2px solid #7c6c42;
   background-image: url('./asset/image/header-background.webp');
   background-size: cover;
   padding-left: 5px;
}

.soulbound.sheet .item-list .item-header .absolute{
   position: absolute;
   right: 5px;
   top: 5px;
}

.soulbound.sheet .item-list .item-header .header-columns{
   display: flex;
   font-family: var(--font-text);
   width: 100%;
}

.soulbound.sheet .item-list .item{
   display:flex;
   flex-direction: column;
   align-items: center;
   padding-left: 5px;
   border-bottom: 3px groove rgba(0, 0, 0, 0.05)
}

.soulbound.sheet .item-list .item:last-of-type {
   border-bottom: none
}


.soulbound.sheet .item-list .item-content {
   display:flex;
   flex-direction: row;
   align-items: center;
   width: 100%
}

.soulbound.sheet .item-name .item-image {
   display: flex;
   align-items: center;
   justify-content: center;
}


.soulbound.sheet .item-name .item-image img
{
   width: 40px;
   height: 40px;
   min-width: 40px;
   min-height: 40px;
}

.soulbound.sheet .item-list .item-property.item-name{
   flex: 1;
   text-align: left;
   display: flex;
   align-items: center;
   font-weight: bold;
}

.soulbound.sheet .item-list .item-property.item-image{
   flex: 0 0 35px;
   height: 35px;
   width: 35px;
}

.soulbound.sheet .item-list .item-property.fit{
   margin: 0px 3px 0px 0px;
   flex: unset
}

.soulbound.sheet .item-list .item-controls{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex: 0 0 50px;
   color: darkslategray;
   width: 50px;
}


.soulbound.sheet .item-list .item-controls > *{
   margin: 2px;
}

.soulbound.sheet .item-list .item-property{
   flex: 0 0 60px;
   text-align: center;
}

.soulbound.sheet .item-list .item-property.flex{
   flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.soulbound.sheet .item-list .item-property.small{
   flex: 0 0 30px;
}


.soulbound.sheet .item-list .item-property.long{
   flex: 0 0 150px;
}

.soulbound.sheet .effects .item .item-property {
   display:flex;
   align-items: center;
}

.soulbound.sheet .item .item-property.description {
   flex: 1;
   text-align: left;
   overflow: hidden;
}

.soulbound.sheet .item-summary {
   width: 100%;
   overflow-wrap: anywhere
}

.soulbound.sheet .item .item-property .item-trait {
   margin-left: 3px;
}

.soulbound.sheet .item .item-property .item-trait:first-of-type {
   margin-left: 0px;
}

.soulbound.sheet .table-element-img img,
   .soulbound.sheet .segment-img img {
   width: 50px;
   height: 50px;
   min-width: 50px;
   min-height: 50px;
}

.soulbound.sheet .effects .condition-list {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.soulbound.sheet .effects .condition-list .condition {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color-border)
}

.soulbound.sheet .effects .condition-list .condition img{
   width: 50px;
   height: 50px;
}


.soulbound.sheet .content-box.item-description {
   height: calc(100% - 135px);
   .content-wrapper {
      height: calc(100% - 30px)
   }
}


.soulbound.sheet .content-box.power{
   flex: 1
}

.soulbound.sheet .content-box.power .content-row{
   flex: 1
}

.soulbound.sheet .power-bar-container {
   width: 100%;
   height: 100%;
   /* border-radius: 10px; */
}

.soulbound.sheet .power-bar-progress {
   /* border-radius: 10px; */
   height: 100%
}
.soulbound.sheet .power-bar-progress.low {
   background: linear-gradient(slategrey, darkslategray);
}

.soulbound.sheet .power-bar-progress.medium {
   background: url(./asset/image/header-background-vertical.webp);

   -webkit-animation: glow-medium 1s ease-in-out infinite alternate;
   -moz-animation: glow-medium 1s ease-in-out infinite alternate;
   animation: glow-medium 1s ease-in-out infinite alternate;
   
}

@-webkit-keyframes glow-medium{
   from {
     box-shadow: 0 0 5px #2e64b1;
   }
   to {
     box-shadow: 0 0 10px #2e64b1;
   }
 }

.soulbound.sheet .power-bar-progress.high {
   background: url(./asset/image/foreground.webp);

   -webkit-animation: glow-high 0.5s ease-in-out infinite alternate;
   -moz-animation: glow-high 0.5s ease-in-out infinite alternate;
   animation: glow-high 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-high{
   from {
     box-shadow: 0 0 5px var(--color-active);
   }
   to {
     box-shadow: 0 0 15px var(--color-active);
   }
 }

 .soulbound.sheet .power-bar-progress.over {
   background: linear-gradient(red, darkred);

   -webkit-animation: glow-over 0.2s ease-in-out infinite alternate;
   -moz-animation: glow-over 0.2s ease-in-out infinite alternate;
   animation: glow-over 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-over{
    from {
      box-shadow: 0 0 5px darkred;
    }
    to {
      box-shadow: 0 0 10px darkred;
    }
  }