#chat-controls {
    color:darkslategrey;
}

.sidebar-popout,
#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;
    margin: 0px;
    padding: 0px;
    background: url(./asset/image/background.webp) repeat;
    background-position-y: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #000;
    border:none;
    color: black;
    border-left: 3px solid var(--color-header-gold)
  }

.sidebar-popout {
    height: unset
}

.sidebar-popout .sidebar-tab{
    color: black
}


#sidebar-tabs {
    background-image: url(./asset/image/header-background.webp);
    background-size: cover;
    color: white;
    box-shadow: 0 0 10px var(--color-active);
    border-bottom: 1px solid goldenrod;
}

#sidebar-tabs .item.active {
    border: 1px solid var(--color-active);
    box-shadow: 0 0 6px inset var(--color-active)
}


#scenes-popout .directory-list .directory-item .document-name a,
#sidebar #scenes .directory-list .directory-item .document-name a {
    background: #000000d4;
    border-radius: 2px;
    border: 3px double #564d3a;
    padding: 10px;
    box-shadow: 0 0 5px #000000 inset;
    font-family: var(--actor-input-font-family);
    font-size: 18px;
    font-weight: var(--actor-input-font-weight);
    position: relative;
    top: -2px;
    color: #CCC
}

#chat-log .message {
    /* padding: 0px 0px 2px 0px;
    margin: 6px 8px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    border:none; */
    border: 2px solid darkslategrey;
    background: none;
}
  
#chat-log .message .message-header {
    padding: 2px;
    line-height: normal;
    vertical-align: middle;
    font-size: 14px;
    color: darkslategrey;
    font-weight: 500;
    min-height: 20px;
}

#chat-log .message .message-header .message-sender {
      flex: 3;
      margin: 0px;
      color: darkslategrey;
      text-shadow: 0px 0px 1px #00000087;
      vertical-align: middle;
      position: relative;
      height: 100%;
      /* background: var(--debug-background-color-green); */
}

#chat-log .message .message-header .message-sender.with-image {
    top: 12px;
}
    
#chat-log .message .message-header .message-metadata {
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: darkslategrey;
    text-shadow: 0px 0px 1px #00000087;
}

#chat-log .message .message-header .message-metadata .message-delete {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 13px;
    color: darkslategrey;
    text-shadow: none;
}

#chat-log .message .message-content {
    border-top: none;
    user-select: all;
}

.directory-item .folder-header h3,
    .directory-item .document-name{
    color: darkslategrey;
    font-family: Quadrant-Regular;
    text-transform: uppercase;
    text-shadow: 1px 1px whitesmoke;
}

.profile .item-profile img{
    border: 2px solid #7c6c42;
    width:72px;
    height:72px;
    border-radius: 50%;
    background-color: black;
    box-shadow: none;
}

.directory-item .entity .item{
    border-left: 5px solid black;
}

.journal-image img{
    border: none
  } 
  .journal-image {
    display: flex; 
    width:100%;
  }
  .journal-image.centered {
    justify-content: center;
  }
  
  .journal-image.float-right,
  .journal-image.float-left {
    display: unset;
    width: unset;
  }
  
  .journal-image.float-right > img
  {
    float: right;
  }
  
  .journal-image.float-left > img
  {
    float: left;
  }
  .journal-image.flip > img{
    transform: scaleX(-1);
  }

#counter .window-header{
    display:none
}

#counter.window-app{
    box-shadow: none;
    background: none;
}

#counter.window-app .window-content{
    background: none;
}


.counter-app {
    display: flex;
    flex-direction: column;
    font-family: var(--font-sidebar);
    color: var(--color-header-blue);
    position: absolute;
    /* bottom: 99px;
    left: 251px; */
    width: 240px;
    height: 85px;
    background: url(/systems/age-of-sigmar-soulbound/asset/image/background.webp) repeat;
    border: 2px solid var(--color-header-gold);
    border-radius: 0px;
    box-shadow: 0 0 15px inset;
}

.counter-app .counters {
    display: flex;
    justify-content: space-around;
}

.counter-app .handle {
    width: 0px;
    position: absolute;
    top: 0px;
    height: 0px;
    right: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.counter-app .party {
    width: 100%;
    font-family: var(--font-text);
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.counter-app > * {
    opacity: 1
}


.counter h3{
    text-align: center;
    margin: 0;
    font-family: var(--font-text);
    font-weight: bold;
    border: none
}

.counter .input-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter .input-controls > * {
    margin: 5px;
}

.counter .input-controls input {
    text-align: center;
    width: 30px;
    border: 1px outset var(--color-active);
    background: rgba(0, 0, 0, 0.1   );
    border-radius: 0px;
}

.counter .input-controls a {
    background: url(./asset/image/header-background-vertical.webp);
    border: 1px outset var(--color-active);
    color: var(--color-active);
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.counter .input-controls a:hover {
    cursor: pointer
}

.counter .input-controls a.clicked {
    border: 1px inset var(--color-active);
}


.active-effect-sheet .change-flags {
    display: flex;
    align-items: center;
    justify-content: center;
}


.active-effect-sheet .change-flags .conditional-code {
    flex: 0 0 20px;
    margin: 5px;
}

#effect-script-config textarea {
    width: 100%;
    height: calc(100% - 100px);
    resize: none;
}

.age-of-sigmar-soulbound.sheet .group-wrapper,
#archetype-groups .group-wrapper {
    display: flex;
    flex-direction: column;
}

#archetype-groups .group-wrapper:nth-child(even){
    background-color: #00000010;
 }

#archetype-groups .group
{
    margin: 3px;
    border: 1px solid darkslategray;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 2px;
    display: flex;
}

.age-of-sigmar-soulbound.sheet .group-wrapper .group
{
    padding: 2px;
    display: flex;
}

.age-of-sigmar-soulbound.sheet .group-wrapper .group-list,
#archetype-groups .group-list
{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

#archetype-groups .group .equipment
{
    margin: 3px;
    padding: 2px;
    width: fit-content;
    font-weight: bold;
    color: darkslategrey
}

.age-of-sigmar-soulbound.sheet .group .equipment {
    width: fit-content;
    font-weight: bold;
    color: darkslategrey;
    margin: 0px 5px
}

.age-of-sigmar-soulbound.sheet .group a {
    margin: 0px 5px
}


.age-of-sigmar-soulbound.sheet .comma{
    margin-left: -4px;
}

.age-of-sigmar-soulbound.sheet .group .equipment:hover,
#archetype-groups .group .equipment:hover
{   
    cursor: pointer;
    text-shadow: 0 0 8px goldenrod
}


#archetype-groups .dragenter
{   
    outline: 1px dotted darkslategrey;
}












#character-creation .character-creation{
    height: calc(100% - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #character-creation .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.08;
    pointer-events: none;
  }
  
#character-creation form {
    height: 100%
}
  
  .character-creation header input{
    font-family: var(--font-header);
    color : var(--color-header-gold);
    text-align: center;
    border: 2px solid var(--color-header-gold);
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;;
  }
  
  .character-creation  input:focus{
    box-shadow: none;
  }
  
  .character-creation header{
    flex: 0 0 40px;
    margin: 10px;
  }
  
  
  .character-creation .sheet-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px)
  }
  
  .character-creation .sheet-body .attributes {
      flex: 0 0 130px;
      display: flex;
      justify-content: space-around;
  }

  .character-creation .sheet-body .attributes .attribute {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;;
  }
  
  .character-creation .sheet-body .attributes input {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 50px;
    font-family: var(--font-header);
    color : var(--color-header-gold);
    border: 2px solid var(--color-header-gold);
}

.character-creation .sheet-body .attributes label {
    font-family: var(--font-header);
    color : var(--color-header-gold);
    font-size: 20px;
} 
  


.character-creation .sheet-body .cc-columns {
    display: flex;
    height: calc(100% - 125px);
    overflow: hidden;
} 

.character-creation .sheet-body .cc-columns > *{
    flex: 1;
    overflow: auto;
} 


.character-creation .sheet-body .cc-columns .skills{
    flex: 1
} 

.character-creation h3 {
    font-family: Quadrant-Regular;
    font-size: 16pt;
    font-weight: normal;
    margin: 0;
    padding: 0px 4px;
    flex-grow: 1;
    text-align: center;
    border: none
}

.character-creation .sheet-body .skills .skill{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.character-creation .sheet-body .skills .skill > *{
    flex: 1;
    display: flex;
}

.character-creation .sheet-body .skills .skill > *{
    flex: 1;
    display: flex;
    font-family: Quadrant-Regular;
    font-size: 12pt;
    justify-content: space-around;
    align-items: center;
}


.character-creation .sheet-body .skills .skill-button button {
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 20px;
    line-height: 20px;;
}

#character-creation .talent {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  #character-creation .talent-header {
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
  }
  
  #character-creation .talent-header img {
    height: 50px;
    width: 50px;
  }
  
  #character-creation .talent-header label {
    text-align: center;
    font-weight: bold;
    flex: 1
  }


#character-creation .equipment {
  padding: 10px;
}



#character-creation .equipment .equipment-group {
  display: flex;
  flex-wrap: wrap;
}

#character-creation .equipment .equipment-group.root {
  flex-direction: column;
}

#character-creation .equipment .equipment-group .connector {
  margin: 0px 3px;
}

#character-creation .equipment .equipment-group .equipment-selector {
  margin: 0px 3px;
}

#character-creation .equipment .equipment-group .equipment-item {
  color: var(--color-imperium);
  font-weight: bold;
  cursor: pointer
}

#character-creation .equipment .equipment-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-creation .equipment .equipment-selection > .equipment-item,
  #character-creation .equipment .equipment-selection > .equipment-group{
  border-bottom: 1px solid var(--color-header-blue)
}

#character-creation .disabled {
  opacity: 0.5
}

#character-creation .talent-count,
#character-creation .aqua-ghyranis,
    #character-creation .xp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#character-creation .talent-count input,
#character-creation .xp input{
    width: 30px;
    margin: 3px;
    text-align: center;
}

#character-creation .aqua-ghyranis input {
    width: 60px;
    margin: 5px;
}

#character-creation input.error {
    border: 1px solid darkred;
    color: darkred;
}



.filter-results {
    height: calc(100% - 30px);
  }
  
  #filter-results form ,
    .filter-results .directory .directory-list,
    .filter-results .directory{
    height: 100%
  }
  
  #filter-results .document.active {
    box-shadow: inset 0 0 10px var(--color-header-blue);
  }


  .roll-dialog option {
    background: unset
  }


  blockquote.foundry-note {
    border-left: none;
    font-style: normal;
    border-radius: 20px;
    padding: 5px;
    background: radial-gradient(circle, rgba(255, 143, 32, 0.76) 0%, rgba(255, 77, 30, 0.75) 100%);
    display: flex;
    box-shadow: 0 0 7px black;

  }
  
  blockquote.foundry-note::before {
    content:url(/icons/vtt.png)
  }