/*
** Actor
 */

 .age-of-sigmar-soulbound.sheet.actor form{
     height: 100%
}


.age-of-sigmar-soulbound.sheet.actor .window-content {
    background: url(../../asset/image/background.jpg) repeat;
    overflow:hidden;
}

.age-of-sigmar-soulbound.sheet .sheet-body {
    display:flex;
    flex-direction: column;
    height:100%;
}

.sheet-content {
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    height:90%;
}

.age-of-sigmar-soulbound.sheet .tab.active {
    display:flex;
    flex-grow:1;
    flex-direction: column;
    height:100%; 
}

.age-of-sigmar-soulbound.sheet input {
    border: none;
    border-radius:none;
    text-align: center;
    font-size: 10pt;
    padding:1px;
    margin:1px;
    height:22px;
}

.age-of-sigmar-soulbound.sheet img {
    border: none;
    border-radius:none;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.sheet-header {
    display: flex;
    flex-direction: row;
    background-image: url('../../asset/image/header-background.png');
    background-size: cover;
    margin: 0px 0px 0px 32px; 
    border: 2px solid #7c6c42;
}

.item .sheet-header {
    margin: 0px 0px 0px 72px;
}

.sheet-header input{
    flex-grow:1;
    text-align: center;
    color:whitesmoke;
}

.active-effect-sheet .sheet-header{
    background-image: unset;
    margin: unset;
}

.active-effect-sheet .sheet-header  img{
    border: none;
    border-right: 2px solid #7c6c42;
}

 .sheet-subHeader {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 32px; 
    padding: 0px 0px 0px 32px;
    border: 2px solid #7c6c42;
    border-top: none;
    align-items:center;
    font-size: small;
    justify-content: space-between;
}

.item .sheet-subHeader {
    margin: 0px 0px 0px 72px;
    padding: unset;
}

.sheet-subHeader > *{
    margin: 0px 5px
}

.subheader-content{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px 2px;
    align-items: center;
}
.subheader-content > *{
    flex: 1;
}

.sheet-subHeader select {
    border: none;
    height: 100%;
}


.subheader-content.xp-header {
    flex: 0 0 50px
}

.age-of-sigmar-soulbound.sheet .avatar {
    /*border: 2px solid #7c6c42;
     width:72px;
    height:72px;
    border-radius: 50%; */
    box-shadow: none;
    position: absolute;
    top: 34px;
    left: 4px;
    z-index: 100;
}

.age-of-sigmar-soulbound.sheet .avatar img {
    border: 0 none;
    width: 72px;
    height: 72px;
    object-fit: contain;
    margin: auto;
}

 .avatar img:hover {
    box-shadow: none;
    cursor: pointer;
}

.sheet-table-name {
    flex-grow:1;
    width: 120px;
    padding: 0px 4px;
}

.sheet-table-value {
    width: 25px;
    padding: 0px 2px;
    text-align: center;
}

.sheet-table-value.speed {
    flex: 3;
    text-align: right
}

.sheet-table-valueMain {
    display:flex;
    flex-direction: row;
    flex-grow:1;
    width: 40px;
    padding: 0px 2px;
    font-size: large;
}

.sheet-table-valueMain.armour {
    width: 100%;
    justify-content: center;
}

.sheet-table-valueMain.armour > input{
    width: 40px;
}

.header-element{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2px;
}

.table-element{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    justify-content: space-between;
    align-items:center;
    padding: 2px 4px;
}

.table-element-vertical{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    padding: 2px 4px;
}

.table-element-row{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    justify-content: space-between;
    justify-items: space-between;
}

.roll-weapon{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
}

.roll-power{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
}

.show-power{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
}

.table-element:nth-child(even){
    background-color: #00000010;
}

.table-label{
    display:flex;
    flex-direction:row;
}

.bold{
    font-weight: bold;
}

.age-of-sigmar-soulbound.sheet .state{
    padding: 0px 4px;
}

.age-of-sigmar-soulbound.sheet .content-column.combat-misc .segment-horizontal {
    flex-grow: unset;
    margin: 5px;
}

.age-of-sigmar-soulbound.sheet .content-row.wounds-row {
    max-height: 115px;
}

.age-of-sigmar-soulbound.sheet .segment-vertical.wounds-list {
    overflow-y: auto
} 

.age-of-sigmar-soulbound.sheet .segment-vertical.wounds-list .table-element {
    flex-grow: unset
} 



/****** ITEM LISTS ******/


.age-of-sigmar-soulbound.sheet .item .item-property.item-name{
    flex: 1
}

.age-of-sigmar-soulbound.sheet .item .item-property.item-image{
    flex: 0 0 35px;
    height: 35px;
    width: 35px;
}

.age-of-sigmar-soulbound.sheet .item .item-controls{
    display:flex;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet .item .item-controls > *{
    margin: 5px;
}

.age-of-sigmar-soulbound.sheet .item .item-property{
    flex: 0 0 60px;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet .item .item-property.flex{
    flex: 1
}

.age-of-sigmar-soulbound.sheet .item .item-property.small{
    flex: 0 0 30px;
}


.age-of-sigmar-soulbound.sheet .item .item-property.long{
    flex: 0 0 150px;
}

.age-of-sigmar-soulbound.sheet .effects .item .item-property {
    display:flex;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet .table-element-img img,
    .age-of-sigmar-soulbound.sheet .segment-img img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.age-of-sigmar-soulbound.sheet .effects .condition-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet .effects .condition-list .condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-border)
}

.age-of-sigmar-soulbound.sheet .effects .condition-list .condition img{
    width: 50px;
    height: 50px;
}