@font-face {
    font-family: "Alegreya Sans SC";
    src: url("../../asset/font/alegreya-sans-sc-regular.ttf");
}

@font-face {
    font-family: "Alegreya Sans SC";
    src: url("../../asset/font/alegreya-sans-sc-bold.ttf");
    font-weight: bold;
}

:root {
    --color-title: black;
    --color-text: black;
    --color-border: #675914;
    --color-active: #003367;
    --color-header: white;
    --color-succeed: #203816;
    --color-deadly: #680B0B;
    --font-text: "Alegreya Sans SC", sans-serif;
}