<div class="age-of-sigmar-soulbound chat item">
    <div class="wrapper">
        <h3>{{name}}</h3>
        {{#if isGoal}}
        <h4>{{localize "ITEM.GOAL"}}</h4>
        {{/if}}
        {{#if isConnection}}
        <h4>{{localize "ITEM.CONNECTION"}}</h4>
        {{/if}}
        {{#if isWound}}
        <h4>{{localize "ITEM.WOUND"}}</h4>
        {{/if}}
        {{#if isSpell}}
        <h4>{{localize "ITEM.SPELL"}}</h4>
        {{/if}}
        {{#if isMiracle}}
        <h4>{{localize "ITEM.MIRACLE"}}</h4>
        {{/if}}
        {{#if isTalent}}
        <h4>{{localize "ITEM.TALENT"}}</h4>
        {{/if}}
        {{#if isArmour}}
        <h4>{{localize "ITEM.ARMOUR"}}</h4>
        {{/if}}
        {{#if isWeapon}}
        <h4>{{localize "ITEM.WEAPON"}}</h4>
        {{/if}}
        {{#if isAethericDevice}}
        <h4>{{localize "ITEM.AETHERIC_DEVICE"}}</h4>
        {{/if}}
        {{#if isRune}}
        <h4>{{localize "ITEM.RUNE"}}</h4>
        {{/if}}
        {{#if isEquipment}}
        <h4>{{localize "ITEM.EQUIPMENT"}}</h4>
        {{/if}}


        {{#if img}}
        <img src="{{img}}" title="{{name}}"/>
        {{/if}}

        {{#if isGoal}}
        <p><strong>{{localize "GOAL.TYPE"}} [{{data.type}}]:</strong> {{data.type}}</p>
        <p><strong>{{localize "GOAL.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isConnection}}
        <p><strong>{{localize "CONNECTION.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isWound}}
        <p><strong>{{localize "WOUND.DAMAGE"}}:</strong> {{data.damage}}</p>
        <p><strong>{{localize "WOUND.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isSpell}}
        <p><strong>{{localize "SPELL.LORE"}}:</strong> {{data.lore}}</p>
        <p><strong>{{localize "SPELL.DN"}}:</strong> {{data.dn}}</p>
        <p><strong>{{localize "SPELL.TARGET"}}:</strong> {{data.target}}</p>
        <p><strong>{{localize "SPELL.RANGE"}}:</strong> {{data.range}}</p>
        <p><strong>{{localize "SPELL.DURATION"}}:</strong> {{data.duration}}</p>
        <p><strong>{{localize "SPELL.TEST"}}:</strong> {{data.test}}</p>
        <p><strong>{{localize "SPELL.OVERCAST"}}:</strong> {{data.duration}}</p>
        <p><strong>{{localize "SPELL.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isMiracle}}
        <p><strong>{{localize "MIRACLE.GOD"}}:</strong> {{data.god}}</p>
        <p><strong>{{localize "MIRACLE.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "MIRACLE.TARGET"}}:</strong> {{data.target}}</p>
        <p><strong>{{localize "MIRACLE.RANGE"}}:</strong> {{data.range}}</p>
        <p><strong>{{localize "MIRACLE.DURATION"}}:</strong> {{data.duration}}</p>
        <p><strong>{{localize "MIRACLE.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isTalent}}
        <p><strong>{{localize "TALENT.REQUIREMENT"}}:</strong> {{data.requirement}}</p>
        <p><strong>{{localize "TALENT.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isArmour}}
        <p><strong>{{localize "ARMOUR.TYPE"}}:</strong> {{data.type}}</p>
        <p><strong>{{localize "ARMOUR.BENEFIT"}}:</strong> {{data.benefit}}</p>
        <p><strong>{{localize "ARMOUR.REQUIREMENTS"}}:</strong> {{data.requirements}}</p>
        <p><strong>{{localize "ARMOUR.TRAITS"}}:</strong> {{data.traits}}</p>
        <p><strong>{{localize "ARMOUR.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "ARMOUR.AVAILABILITY"}}:</strong> {{data.availability}}</p>
        <p><strong>{{localize "ARMOUR.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isWeapon}}
        <p><strong>{{localize "WEAPON.CATEGORY"}}:</strong> {{data.category}}</p>
        <p><strong>{{localize "WEAPON.DAMAGE"}}:</strong> {{data.damage}}</p>
        <p><strong>{{localize "WEAPON.TRAITS"}}:</strong> {{data.traits}}</p>
        <p><strong>{{localize "WEAPON.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "WEAPON.AVAILABILITY"}}:</strong> {{data.availability}}</p>
        <p><strong>{{localize "WEAPON.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isAethericDevice}}
        <p><strong>{{localize "AETHERIC_DEVICE.CATEGORY"}}:</strong> {{data.category}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.DAMAGE"}}:</strong> {{data.damage}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.TRAITS"}}:</strong> {{data.traits}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.POWER_CAPACITY"}}:</strong> {{data.power.capacity}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.POWER_CONSUMPTION"}}:</strong> {{data.power.consumption}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.CRAFTING"}}:</strong> {{data.crafting}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.REQUIREMENTS"}}:</strong> {{data.requirements}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.AVAILABILITY"}}:</strong> {{data.availability}}</p>
        <p><strong>{{localize "AETHERIC_DEVICE.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isRune}}
        <p><strong>{{localize "RUNE.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}

        {{#if isEquipment}}
        <p><strong>{{localize "EQUIPMENT.COST"}}:</strong> {{data.cost}}</p>
        <p><strong>{{localize "EQUIPMENT.AVAILABILITY"}}:</strong> {{data.availability}}</p>
        <p><strong>{{localize "EQUIPMENT.DESCRIPTION"}}:</strong> {{removeMarkup data.description}}</p>
        {{/if}}
    </div>
</div>