<div class="age-of-sigmar-soulbound chat roll">
    {{log this}}
    <div class="content-box">
        <div class="content-header">
            <h2>DN {{testData.dn.difficulty}}:{{testData.dn.complexity}} {{testData.dn.name}} Test</h2>
        </div>
        <div class="diceContainer">
            {{#each result.dice as |dice index|}}
            {{#if ../context.focusAllocated}}
            <img class="diceImg" src="{{dice.img}}">
            {{else}}
            <a class="diceClick" data-index={{index}}>
                <img class="diceImg" src="{{dice.img}}">
            </a>
            {{/if}}
            {{/each}}
        </div>
        <div class="content-rowElement">
            {{#if result.success}}
            <h4 style="color: var(--color-succeed)"><strong>{{localize "CHAT.SUCCESS" degree=result.degree}}</strong></h4>
            {{else}}
            <h4 style="color: var(--color-deadly)">{{localize "CHAT.FAILED" degree=result.degree}}</h4>
            {{/if}}
        </div>
        {{log result}}
        <div class="content-wrapper">
            {{#if context.focusAllocated}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.FOCUS"}} :</strong> {{result.focus}} {{localize "CHAT.FOCUS_APPLIED"}}</p>
            {{else if result.focus}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.FOCUS"}} :</strong> {{localize "CHAT.FOCUS_AVAILABLE" focus=result.focus}}</p>
            {{/if}}

            {{#if result.damage}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.DAMAGE"}} :</strong> {{result.damage.total}}</p>
            {{/if}}

            {{#if result.traits}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.TRAITS"}} :</strong> {{result.traits}}</p>
            {{/if}}

            {{#if result.effect}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.EFFECT"}} :</strong> {{result.effect}}</p>
            {{/if}}

            {{#if result.duration}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.DURATION"}} :</strong> {{result.duration}}</p>
            {{/if}}

            {{#if result.resist}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.RESIST"}} :</strong> {{result.resist}}</p>
            {{/if}}

            {{#if result.overcast}}
            <p style="margin-top: 5px"><strong>{{localize "CHAT.OVERCAST"}} :</strong> {{result.overcast}}</p>
            {{/if}}
        </div>
        {{#if result.damage.traitEffects.length}}
        <div class="content-wrapper">
            <p style="margin-top: 5px"><strong>{{localize "CHAT.TRAIT_EFFECTS"}} :</strong></p>
            <ul>
                {{#each result.damage.traitEffects as |effect|}}
                {{#if effect.isRend}}
                <li><span class="rend-value">{{effect.text}}</span></li>
                {{/if}}
                {{#if effect.isCleave}}
                <li><span class="cleave-value">{{effect.text}}</span></li>
                {{/if}}
                {{#if effect.isPlain}}
                <li>{{effect.text}}</li>
                {{/if}}

                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>