<div class="age-of-sigmar-soulbound chat roll">
    <div class="content-box">
        <div class="content-header">
            <h2>{{dn.name}} DN {{dn.difficulty}}:{{dn.complexity}}</h2>
        </div>
        <div class="diceContainer">
            {{#each dices as |dice|}}
                {{#if dice.highlight}}
                    <div class="diceHighlight">
                        <div class="diceLabel">
                            {{dice.value}}
                        </div>
                    </div>
                {{else}}
                    {{#if dice.success}}
                        <div class="dice">
                            <div class="diceLabel">
                                {{dice.value}}
                            </div>
                        </div>
                    {{else}}
                    <div class="diceFailed">
                        <div class="diceLabel">
                            {{dice.value}}
                        </div>
                    </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>        
        <div class="content-rowElement">
            {{#if hasSucceed}}
                <h4 style="color: var(--color-succeed)">{{localize "CHAT.SUCCEED"}} <strong>{{success}}</strong> {{localize "CHAT.SUCCESS"}}</h4>
            {{else}}
                <h4 style="color: var(--color-deadly)">{{localize "CHAT.FAILED"}} <strong>{{missing}}</strong></h4>
            {{/if}}
        </div>
        <div class="content-wrapper">
            {{#if focus}}
                <p style="margin-top: 5px"><strong>{{localize "CHAT.FOCUS"}} :</strong> {{focus}}</p>
            {{/if}}
            {{#if effect}}
                <p style="margin-top: 5px"><strong>{{localize "CHAT.EFFECT"}} :</strong> {{effect}}</p>
            {{/if}}
            {{#if duration}}
                <p style="margin-top: 5px"><strong>{{localize "CHAT.DURATION"}} :</strong> {{duration}}</p>
            {{/if}}
            {{#if resist}}
                <p style="margin-top: 5px"><strong>{{localize "CHAT.RESIST"}} :</strong> {{resist}}</p>
            {{/if}}
            {{#if overcast}}
                <p style="margin-top: 5px"><strong>{{localize "CHAT.OVERCAST"}} :</strong> {{overcast}}</p>
            {{/if}}
        </div>
    </div>
</div>