<div class="soulbound chat roll">
    <div class="content-box">
        <div class="content-header">
            <h2>DN {{testData.dn.difficulty}}:{{testData.dn.complexity}} {{testData.dn.name}} Test</h2>
        </div>
        {{> systems/age-of-sigmar-soulbound/template/chat/base/dice-container.hbs}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/weapon-result.hbs}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/weapon-buttons.hbs}}
    </div>
</div>