.age-of-sigmar-soulbound.sheet.item .connection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.item .connection label {
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.item .connection input {
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.item .connection .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .connection .description .editor {
    height: 166px;
}