.age-of-sigmar-soulbound.sheet.actor .npc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .avatar {
    border: 1px solid var(--color-border);
    box-shadow: inset 0 0 6px var(--color-border);
    flex: 0 0 auto;
    height: 100px;
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .avatar img {
    border: 0 none;
    width: 100px;
    height: 100px;
    margin: auto;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .avatar img:hover {
    box-shadow: none;
    cursor: pointer;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio label {
    min-width: 100px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .wrapper-row {
    display: flex;
    flex-direction: row;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .name,
.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .size,
.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .faction {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 5px);
    margin-right: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .role,
.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .type,
.age-of-sigmar-soulbound.sheet.actor .npc .sheet-header .bio .subfaction {
    display: flex;
    flex-direction: row;
    flex-basis: calc(50% - 5px);
    margin-left: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    font-size: 18px;
    padding: 5px;
    background: url(../../asset/image/foreground.jpg) repeat;
    font-family: var(--font-text);
    font-weight: bold;
    margin: 15px 0;
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-tabs .item {
    color: var(--color-title);
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-tabs .item:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-tabs .item.active {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .sheet-body {
    flex-basis: 100%;
}