.age-of-sigmar-soulbound.sheet.item .party-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.item .party-item label {
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.item .party-item input {
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.item .party-item .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .party-item .wrapper .state {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.age-of-sigmar-soulbound.sheet.item .party-item .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 10px;
}

.age-of-sigmar-soulbound.sheet.item .party-item .description .editor {
    height: 171px;
}