.age-of-sigmar-soulbound.sheet.item .rune {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.item .rune .description .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .rune .description,
.age-of-sigmar-soulbound.sheet.item .rune .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .rune .bonus {
    height: 197px;
}

.age-of-sigmar-soulbound.sheet.item .rune .description .editor {
    height: 166px;
}