.age-of-sigmar-soulbound.sheet.item .spell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.item .spell .description,
.age-of-sigmar-soulbound.sheet.item .spell .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .spell .description .editor {
    height: 288px;
}

.age-of-sigmar-soulbound.sheet.item .spell .stats .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 10px;
}

.age-of-sigmar-soulbound.sheet.item .spell .stats .wrapper label {
    width: 30%;
}

.age-of-sigmar-soulbound.sheet.item .spell .stats .wrapper input,
.age-of-sigmar-soulbound.sheet.item .spell .stats .wrapper select {
    width: 70%;
}