.age-of-sigmar-soulbound.sheet.item .weapon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.age-of-sigmar-soulbound.sheet.item .weapon .description .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .weapon .description,
.age-of-sigmar-soulbound.sheet.item .weapon .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.item .weapon .bonus {
    height: 212px;
}

.age-of-sigmar-soulbound.sheet.item .weapon .description .editor {
    height: 181px;
}

.age-of-sigmar-soulbound.sheet.item .weapon .stats .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 10px;
}

.age-of-sigmar-soulbound.sheet.item .weapon .stats .wrapper label {
    width: 30%;
}

.age-of-sigmar-soulbound.sheet.item .weapon .stats .wrapper input,
.age-of-sigmar-soulbound.sheet.item .weapon .stats .wrapper select {
    width: 70%;
}