<div class="age-of-sigmar-soulbound chat roll">
    <div class="content-box">
        <div class="content-header">
            <h2>DN {{testData.dn.difficulty}}:{{testData.dn.complexity}} {{testData.dn.name}} Test</h2>
        </div>
        {{> systems/age-of-sigmar-soulbound/template/chat/base/dice-container.hbs}}
        {{> systems/age-of-sigmar-soulbound/template/chat/base/base-result.hbs}}
        {{> systems/age-of-sigmar-soulbound/template/chat/base/base-targets.hbs}}
    </div>
</div>