{{#if result.other.length}}
<div class="content-wrapper">
    {{#each result.other}}
    <p style="margin-top: 5px;"><strong>{{this.label}}</strong>: {{this.description}}</p>
    {{/each}}
</div>
{{/if}}