<div class="attribute-box">
    <div class="label" style="grid-column: 1 / span 12">
        {{localize label}}  <a data-action="configureTraits"><i class="fas fa-cog"></i></a>
    </div>
    <div class="field" style="grid-column: 1 / span 12">
    <input type="text" value="{{array traits}}" disabled>
    </div>

</div>