.age-of-sigmar-soulbound.chat {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 13x;
    line-height: 17px;
}

.age-of-sigmar-soulbound.chat strong {
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 13px;
}

.age-of-sigmar-soulbound.chat h2 {
    align-items: center;
    font-family: var(--font-text);
    padding: 4px;
    text-decoration: none;
    border:none;
    font-size: 18px;
    font-weight: bold;
    margin: 4px;
    text-align: left;
}

.age-of-sigmar-soulbound.chat h3 {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

.age-of-sigmar-soulbound.chat h4 {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

.age-of-sigmar-soulbound.chat h3 + h4 {
    margin-top: -4px;
}

.whisper .content-header {
    background-image: linear-gradient(to right, var(--color-border), #183051, #183051, #183051, #183051,#183051, var(--color-border));
}

.age-of-sigmar-soulbound.chat.item:hover {    
    outline: 1px dotted black;
    cursor: pointer
}


.age-of-sigmar-soulbound.chat .targets a.target-selector {
    color: darkslategray;
    font-size: 18px;
}

.age-of-sigmar-soulbound.chat .targets a.target-selector:hover {
    cursor: pointer;
}

.age-of-sigmar-soulbound.chat .targets {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
}


.age-of-sigmar-soulbound.chat .targets .target {
    border: 1px solid darkslategray;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px;
    margin: 2px;
    padding: 2px 2px 1px 2px;
    background-color: rgba(0, 0, 0, 0.05)
}


.age-of-sigmar-soulbound.chat .diceContainer {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 4px;
    border-bottom: 2px solid #7c6c42;
    border-right: 2px solid #7c6c42;
}

#reroller .age-of-sigmar-soulbound.chat .diceContainer
{
    border: none
}

.age-of-sigmar-soulbound.chat .dice {
    flex:none;
	width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: #00008b;
    border-radius: 4px;
}

.age-of-sigmar-soulbound.chat .diceImg {
    flex:none;
	width: 36px;
	height: 36px;
	margin: 2px 2px;
}

.age-of-sigmar-soulbound.chat .die {
    position: relative
}

.age-of-sigmar-soulbound.chat .selected .diceImg {
    outline: 3px solid var(--color-active)
}

.age-of-sigmar-soulbound.chat .diceHighlight {
	flex:none;
    width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: #daa520;
    border-radius: 4px;
}
.age-of-sigmar-soulbound.chat .diceFailed {
	flex:none;
    width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: darkgray;
    border-radius: 4px;
}

.age-of-sigmar-soulbound.chat .focus-counter {
    height: 20px;
    width: 20px;
    background-color: var(--color-header-blue);
    color: var(--color-active);
    border-radius: 50%;
    border: 2px solid var(--color-active);
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
    font-size: 15px;
    text-align: center;
    z-index: 1;
}

.age-of-sigmar-soulbound.chat .reroll-icon {
    height: 20px;
    width: 20px;
    background-color: var(--color-header-blue);
    color: var(--color-active);
    border-radius: 50%;
    border: 2px solid var(--color-active);
    display: inline-block;
    position: absolute;
    margin-top: -4px;
    margin-left: -15px;
    padding-top: 1px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
}


.age-of-sigmar-soulbound.chat .diceLabel {
	padding: 8px 0 2px 0;
    font-family: var(--font-text);
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
}

.age-of-sigmar-soulbound.chat img {
	border:none;
    margin: 2px;
}

.age-of-sigmar-soulbound.chat p {
    margin: 0 0 4px 4px;
}

.age-of-sigmar-soulbound.chat .test-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.age-of-sigmar-soulbound.chat .test-buttons > button{
    flex: 0.8;
    margin: 10px;
    font-size: 13px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.age-of-sigmar-soulbound.chat .overcast-buttons {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar-soulbound.chat .overcast-buttons .overcast-labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.age-of-sigmar-soulbound.chat .overcast-buttons .overcast-groups {
    display: flex;
    justify-content: space-around;
}

.age-of-sigmar-soulbound.chat .overcast-buttons .overcast-groups > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.age-of-sigmar-soulbound.chat .overcast-buttons .overcast-groups .overcast-group button {
    margin: 10px;
}


