.age-of-sigmar-soulbound.chat {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 13x;
    line-height: 17px;
    padding: 10px;
}

.age-of-sigmar-soulbound.chat strong {
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 13px;
}

.age-of-sigmar-soulbound.chat h3 {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

.age-of-sigmar-soulbound.chat h4 {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}

.age-of-sigmar-soulbound.chat h3 + h4 {
    margin-top: -8px;
}

.age-of-sigmar-soulbound.chat img.dice {
	border: 2px solid #c2913500;
	width: 35px;
	height: 37px;
	margin: -1px 0px;
}

.age-of-sigmar-soulbound.chat img.diceHighlight {
	border: 2px solid #c29135;
	width: 37px;
	height: 37px;
	margin: -1px 0px;
}

.age-of-sigmar-soulbound.chat img {
	border:none;
}

.age-of-sigmar-soulbound.chat p {
    margin: 0 0 4px;
}