.age-of-sigmar-soulbound.chat {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 13x;
    line-height: 17px;
}

.age-of-sigmar-soulbound.chat strong {
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 13px;
}

.age-of-sigmar-soulbound.chat h2 {
    align-items: center;
    font-family: var(--font-text);
    padding: 4px;
    text-decoration: none;
    border:none;
    font-size: 18px;
    font-weight: bold;
    margin: 4px;
    text-align: left;
}

.age-of-sigmar-soulbound.chat h3 {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

.age-of-sigmar-soulbound.chat h4 {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

.age-of-sigmar-soulbound.chat h3 + h4 {
    margin-top: -4px;
}

.age-of-sigmar-soulbound.chat .diceContainer {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 4px;
    border-bottom: 2px solid #7c6c42;
    border-right: 2px solid #7c6c42;
}

.age-of-sigmar-soulbound.chat .dice {
    flex:none;
	width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: #00008b;
    border-radius: 4px;
}

.age-of-sigmar-soulbound.chat .diceImg {
    flex:none;
	width: 36px;
	height: 36px;
	margin: 2px 2px;
}

.age-of-sigmar-soulbound.chat .selected .diceImg {
    outline: 3px solid var(--color-active)
}

.age-of-sigmar-soulbound.chat .diceHighlight {
	flex:none;
    width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: #daa520;
    border-radius: 4px;
}
.age-of-sigmar-soulbound.chat .diceFailed {
	flex:none;
    width: 36px;
	height: 36px;
	margin: 2px 2px;
    background-color: darkgray;
    border-radius: 4px;
}

.age-of-sigmar-soulbound.chat .diceLabel {
	padding: 8px 0 2px 0;
    font-family: var(--font-text);
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
}

.age-of-sigmar-soulbound.chat img {
	border:none;
    margin: 2px;
}

.age-of-sigmar-soulbound.chat p {
    margin: 0 0 4px 4px;
}