{{#if hasTest}}
<div class="content-wrapper test-buttons">
    <button class="test-button" type="button">{{ItemTestDisplay}}</button>
</div>
{{/if}}

{{#if effects.length}}
<div class="content-wrapper test-buttons">
{{#each effects as |effect e|}}
    <button class="effect-button" title="Apply the effect to selected tokens or your assigned character" data-id="{{effect.id}}" type="button"><img src="{{effect.data.icon}}" width="25" height="25"> Apply {{effect.label}}</button>
{{/each}}
</div>
{{/if}}