<form class="{{cssClass}}" autocomplete="off">
    <div class="armour">
        <div class="sheet-header">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label>{{localize "ARMOUR.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}"/>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.TYPE"}}</label>
                        <select name="data.category">
                            {{#select data.category}}
                                <option value="light">{{localize "TYPE.LIGHT"}}</option>
                                <option value="medium">{{localize "TYPE.MEDIUM"}}</option>
                                <option value="heavy">{{localize "TYPE.HEAVY"}}</option>
                                <option value="shield">{{localize "TYPE.SHIELD"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.REQUIREMENTS"}}</label>
                        <input name="data.requirements" type="text" value="{{data.requirements}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.BENEFIT"}}</label>
                        <input name="data.benefit" type="number" value="{{data.benefit}}" data-dtype="Number"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.TRAITS"}}</label>
                        <input name="data.traits" type="text" value="{{data.traits}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.COST"}}</label>
                        <input name="data.cost" type="text" value="{{data.cost}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "ARMOUR.AVAILABILITY"}}</label>
                        <select name="data.availability">
                            {{#select data.availability}}
                                <option value="common">{{localize "AVAILABILITY.COMMON"}}</option>
                                <option value="rare">{{localize "AVAILABILITY.RARE"}}</option>
                                <option value="exotic">{{localize "AVAILABILITY.EXOTIC"}}</option>
                                <option value="special">{{localize "AVAILABILITY.SPECIAL"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-bonus.html}}
            </div>
        </div>
    </div>
</form>