<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="segment-horizontal">
                <h3>{{localize "MIRACLE.OF"}}</h3>
                <input name="data.god" type="text" value="{{data.god}}" placeholder="{{localize "MIRACLE.GOD"}}" style="width:60%"/>
            </div>
        </div>
        <hr>
        <div class="content-box">
            <div class="content-header">
                <h1>{{localize "TITLE.STATS"}}</h1>
            </div>
            <div class="content-row">
                <div class="entry-vertical">
                    <h3>{{localize "MIRACLE.TARGET"}}</h3>
                    <input name="data.target" type="text" value="{{data.target}}" />
                </div>
                <div class="entry-vertical">
                    <h3>{{localize "SPELL.RANGE"}}</h3>
                    <select name="data.range">
                        {{#select data.range}}
                        {{#each (config "range") as |range r|}}
                        <option value="{{r}}">{{range}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="entry-vertical">
                    <h3>{{localize "MIRACLE.DURATION"}}</h3>
                    <input name="data.duration" type="text" value="{{data.duration}}"/>
                </div>
                <div class="entry-vertical">
                    <h3>{{localize "MIRACLE.COST"}}</h3>
                    <input name="data.cost" type="number" value="{{data.cost}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="content-row">
                <div class="entry-vertical">
                    <h3>{{localize "MIRACLE.EFFECT"}}</h3>
                    <input name="data.effect" type="text" value="{{data.effect}}"/>
                </div>
            </div>
        </div>  
        <hr>    
        <div class="sheet-content">
            <div class="content-box item-description">
                <div class="content-header">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                </div>
                <div class="content-wrapper">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
        {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-effects.html}}
    </div>
</form>