<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" placeholder="{{localize "BIO.NAME"}}"/>
    </div>
    <div class="sheet-body"´>
        <div class="sheet-header">  
            <input name="name" type="text" value="{{actor.name}}"/>
        </div>
        <div class="sheet-subHeader">
            <select name="data.bio.size" data-dtype="Number">
                {{#select data.bio.size}}
                {{#each (config "actorSize") as |size s|}}
                    <option value="{{s}}">{{size}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="data.bio.type" data-dtype="Number">
                {{#select data.bio.type}}
                {{#each (config "npcType") as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                {{/each}}
                {{/select}}
            </select>
            (<input name="data.bio.faction" type="text" value="{{data.bio.faction}}" placeholder="{{localize "BIO.FACTION"}}"/>, <input name="data.bio.subfaction" type="text" value="{{data.bio.subfaction}}" placeholder="{{localize "BIO.SUBFACTION"}}"/>)
            <input name="data.bio.role" type="text" value="{{data.bio.role}}" placeholder="{{localize "BIO.ROLE"}}"/>
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="talents">{{localize "TAB.TALENTS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="talents">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-talents.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-gear.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-notes.html}}
            </div>
        </div>
    </div>
</form>