<form class="{{cssClass}}" autocomplete="off">
    <div class="npc">
        <div class="sheet-header">
            <div class="avatar">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <div class="bio">
                <div class="wrapper-row">
                    <div class="name">
                        <label>{{localize "BIO.NAME"}}</label>
                        <input name="name" type="text" value="{{actor.name}}"/>
                    </div>
                    <div class="role">
                        <label>{{localize "BIO.ROLE"}}</label>
                        <input name="data.bio.role" type="text" value="{{data.bio.role}}" />
                    </div>
                </div>
                <div class="wrapper-row">
                    <div class="size">
                        <label>{{localize "BIO.SIZE"}}</label>
                        <select name="data.bio.size" data-dtype="Number">
                            {{#select data.bio.size}}
                                <option value="0">{{localize "ACTOR.NPC_SIZE_TINY"}}</option>
                                <option value="1">{{localize "ACTOR.NPC_SIZE_SMALL"}}</option>
                                <option value="2">{{localize "ACTOR.NPC_SIZE_MEDIUM"}}</option>
                                <option value="3">{{localize "ACTOR.NPC_SIZE_LARGE"}}</option>
                                <option value="4">{{localize "ACTOR.NPC_SIZE_ENOURMOUS"}}</option>
                                <option value="5">{{localize "ACTOR.NPC_SIZE_MONSTROUS"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="type">
                        <label>{{localize "BIO.TYPE"}}</label>
                        <select name="data.bio.type" data-dtype="Number">
                            {{#select data.bio.type}}
                                <option value="0">{{localize "ACTOR.NPC_SWARM"}}</option>
                                <option value="1">{{localize "ACTOR.NPC_MINION"}}</option>
                                <option value="2">{{localize "ACTOR.NPC_WARRIOR"}}</option>
                                <option value="3">{{localize "ACTOR.NPC_CHAMPION"}}</option>
                                <option value="4">{{localize "ACTOR.NPC_CHOSEN"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="wrapper-row">
                    <div class="faction">
                        <label>{{localize "BIO.FACTION"}}</label>
                        <input name="data.bio.faction" type="text" value="{{data.bio.faction}}"/>
                    </div>
                    <div class="subfaction">
                        <label>{{localize "BIO.SUBFACTION"}}</label>
                        <input name="data.bio.subfaction" type="text" value="{{data.bio.subfaction}}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="talents">{{localize "TAB.TALENTS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/npc-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/npc-combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="talents">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/npc-talents.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/npc-gear.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/npc-notes.html}}
            </div>
        </div>
    </div>
</form>