<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{actor.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="entry-horizontal">
                <h3>{{localize "PARTY.SOULFIRE"}}</h3>
                <input name="data.soulfire.value" type="text" value="{{data.soulfire.value}}"/> /
                <input name="data.soulfire.max" type="text" value="{{data.soulfire.max}}"/>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "BIO.DOOM"}}</h3>
                <input name="data.doom.value" type="text" value="{{data.doom.value}}"/>
            </div>
        </div>    
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="main">{{localize "TAB.MAIN"}}</b>
            <b class="item" data-tab="members">{{localize "TAB.MEMBERS"}}</b>
        </div>
        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="main">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/party-main.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="members">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/party-members.html}}
            </div>
        </div>
    </div>
</form>