<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="entry-horizontal">
                <h3>{{localize "SPELL.LORE"}}</h3>
                <input name="data.lore" type="text" value="{{data.lore}}"/>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "SPELL.DN"}}</h3>
                <input name="data.dn" type="text" value="{{data.dn}}" style="width:50px"/>
            </div>
        </div>
        <hr>
        <div class="sheet-tabs tabs">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
        </div>
        <div class="sheet-content">
            <div class="tab" data-tab="description">
                <div class="content-box" style="border-top:2px solid #7c6c42">
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.TARGET"}}</h3>
                            <input name="data.target" type="text" value="{{data.target}}" />
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.RANGE"}}</h3>
                            <select name="data.range">
                                {{#select data.range}}
                                <option value="special">{{localize "RANGE.SPECIAL"}}</option>
                                {{#each (config "range") as |range r|}}
                                <option value="{{r}}">{{range}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.DURATION"}}</h3>
                            <div class="entry-inputs">
                                <input name="data.duration.value" type="text" value="{{data.duration.value}}"/>
                                <select name="data.duration.unit">
                                    {{#select data.duration.unit}}
                                    {{#each (config "durations") as |duration d|}}
                                    <option value="{{d}}">{{duration}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.DAMAGE"}}</h3>
                            <input name="data.damage" type="text" value="{{data.damage}}"/>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.TEST"}}</h3>
                            <div class="entry-inputs">
                                <input name="data.test.dn" type="text" placeholder="DN" value="{{data.test.dn}}"/>
                                <select name="data.test.attribute">
                                    {{#select data.test.attribute}}
                                    <option value="">-</option>
                                    {{#each (config "attributes") as |attribute a|}}
                                    <option value="{{a}}">{{attribute}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                                <select name="data.test.skill">
                                    {{#select data.test.skill}}
                                    <option value="">-</option>
                                    {{#each (config "skills") as |skill s|}}
                                    <option value="{{s}}">{{skill}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>                            
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "SPELL.OVERCAST"}}</h3>
                            <input title="{{data.overcast}}" name="data.overcast" type="text" value="{{data.overcast}}"/>
                        </div>
                    </div>
                </div>
                <div class="content-box" style="height:100%">
                    <div class="content-header">
                        <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    </div>
                    <div class="content-wrapper">
                        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-effects.html}}
            </div>
        </div>
    </div>
</form>