<form class="{{cssClass}}" autocomplete="off">
    <div class="weapon">
        <div class="sheet-header">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label>{{localize "WEAPON.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}"/>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="wrapper">
                        <label>{{localize "WEAPON.CATEGORY"}}</label>
                        <select name="data.category">
                            {{#select data.category}}
                                <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
                                <option value="range">{{localize "CATEGORY.RANGE"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "WEAPON.DAMAGE"}}</label>
                        <input name="data.damage" type="text" value="{{data.damage}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "WEAPON.TRAITS"}}</label>
                        <input name="data.traits" type="text" value="{{data.traits}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "WEAPON.COST"}}</label>
                        <input name="data.cost" type="text" value="{{data.cost}}"/>
                    </div>
                    <div class="wrapper">
                        <label>{{localize "WEAPON.AVAILABILITY"}}</label>
                        <select name="data.availability">
                            {{#select data.availability}}
                            {{#each (config "availability") as |availability a|}}
                                <option value="{{a}}">{{availability}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-bonus.html}}
            </div>
        </div>
    </div>
</form>