<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="entry-horizontal">
                <h3>{{localize "WEAPON.AVAILABILITY"}}</h3>
                <select name="data.availability">
                    {{#select data.availability}}
                    {{#each (config "availability") as |availability a|}}
                    <option value="{{a}}">{{availability}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "EQUIPMENT.COST"}}</h3>
                <input name="data.cost" type="text" value="{{data.cost}}" />
            </div>
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
        </div>        
        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="content-box">
                    <div class="content-header">
                        <h1>{{localize "TITLE.STATS"}}</h1>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "WEAPON.CATEGORY"}}</h3>
                            <select name="data.category">
                                {{#select data.category}}
                                    <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
                                    <option value="range">{{localize "CATEGORY.RANGE"}}</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "WEAPON.DAMAGE"}}</h3>
                            <input name="data.damage" type="text" value="{{data.damage}}"/>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "WEAPON.TRAITS"}} <a class="item-traits"><i class="fas fa-cog"></i></a></h3>
                            <input name="data.traits" type="text" value="{{item.Traits}}" disabled/>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content-box fill">
                    <div class="content-header">
                        <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    </div>
                    <div class="content-wrapper">
                        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-effects.html}}
            </div>
        </div>
    </div>
</form>