<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="segment-horizontal">
                <h3>{{localize "WOUND.DAMAGE"}}</h3>
                <input name="data.damage" type="number" value="{{data.damage}}" data-dtype="Number"/>
            </div>
        </div>
        <hr>
        <hr>
        <div class="sheet-content">
            <div class="content-box fill">
                <div class="content-header">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                </div>
                <div class="content-wrapper">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>