.age-of-sigmar-soulbound.sheet.actor .npc .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper .attribute {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 5px;
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper .attribute label {
    width: 100px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper .attribute input {
    width: 100px;
    flex-grow: 0;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper .attribute .roll-attribute {
    cursor: pointer;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .attributes .wrapper .attribute .roll-attribute:hover {
    color: var(--color-border);
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 15px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .wrapper-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(50% - 5px);
    margin-right: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .wrapper-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(50% - 5px);
    margin-left: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .name {
    flex-basis: 40%;
    font-weight: bold;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .training,
.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .focus,
.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .total {
    flex-basis: 20%;
    font-weight: bold;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill label {
    flex-basis: 40%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill input {
    flex-basis: 20%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .roll-skill {
    cursor: pointer;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .skills .skill .roll-skill:hover {
    color: var(--color-border);
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 15px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .items {
    height: 211px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .item-header .fas {
    color: var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .item-header b {
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .name {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .effect {
    display: flex;
    flex-basis: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .stats .talents .item-list .talent {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}