.age-of-sigmar-soulbound.sheet.actor .npc .combat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .wrapper-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(50% - 5px);
    margin-right: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .wrapper-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(50% - 5px);
    margin-left: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .toughness,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .mettle,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .wounds {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .mettle,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .wounds {
    margin-top: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .name {
    flex-basis: 25%;
    text-align: center;
    font-weight: bold;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .current,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .bonus,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .total {
    flex-basis: 25%;
    text-align: center;
    font-weight: bold;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .toughness label,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .mettle label,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .wounds label {
    flex-basis: 25%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .toughness input,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .mettle input,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .wounds input {
    flex-basis: 25%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .wrapper .deadly {
    color: var(--color-deadly);
    border: 1px solid var(--color-deadly);
    box-shadow: inset 0 0 6px var(--color-deadly);
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .items {
    height: 118px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .item-header .fas {
    color: var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .item-header b {
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .name {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .damage {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .button {
    flex-basis: 10%;
    text-align: center;
    font-size: 10px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .resources .item-list .wound {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .name {
    flex-basis: 40%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .bonus,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .total {
    flex-basis: 30%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .initiative,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .natural-awareness,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .armour,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .melee,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .accuracy,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .defense,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .speed {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 5px;
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper label {
    flex-basis: 40%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper input {
    flex-basis: 30%;
    flex-grow: 0
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .abilities .wrapper .speed select {
    flex-basis: 60%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 15px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .items {
    height: 130px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .item-header .fas {
    color: var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .item-header b {
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .name {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .pool,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .focus,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .damage {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .traits {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .weapons .item-list .weapon {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 15px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .items {
    height: 231px;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .item-header .fas {
    color: var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .item-header b {
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .name {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .dn,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .target,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .range,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .duration {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .dn,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .range {
    flex-basis: 10%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .target,
.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .duration {
    flex-basis: 25%;
}

.age-of-sigmar-soulbound.sheet.actor .npc .combat .powers .item-list .power {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
