.age-of-sigmar-soulbound.sheet.actor .player .gear {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}


.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power {
    margin-top: 15px;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .undercharge {
    color: var(--color-deadly);
    border: 1px solid var(--color-deadly);
    box-shadow: inset 0 0 6px var(--color-deadly);
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .drops,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .phials,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .spheres,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .capacity,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .consumed {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 10px;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .drops label,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .phials label,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .spheres label,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .capacity label,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .consumed label {
    flex-basis: 60%;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .drops input,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .phials input,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .currencies .spheres input,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .capacity input,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .resources .power .consumed input {
    flex-basis: 40%;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .items,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .items,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .items,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .items,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .items {
    height: 322px;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .item-header .fas,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .item-header .fas,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .item-header .fas,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .item-header .fas,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .item-header .fas {
    color: var(--color-header);
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .item-header b,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .item-header b,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .item-header b,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .item-header b,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .item-header b {
    justify-content: center;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .name,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .name,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .name,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .name,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .name {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .state,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .state,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .state,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .state,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .state {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .state a i,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .state a i,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .state a i,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .state a i,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .state a i {
    font-size: 20px;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .button,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .button,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .button,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .button,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .button {
    flex-basis: 10%;
    text-align: center;
    font-size: 10px;
}

.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .weapons .item-list .weapon,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .armours .item-list .armour,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .aetheric-devices .item-list .aetheric-device,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .runes .item-list .rune,
.age-of-sigmar-soulbound.sheet.actor .player .gear .wrapper .equipments .item-list .equipment {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}