<div class="age-of-sigmar-soulbound dialog">
    <div class="wrapper">
        <label>{{localize "DIALOG.ATTRIBUTE"}}</label>
        <select id="attribute">
            {{#each attributes as |attribute key|}}
                {{#if attribute.selected}}
                    <option value="{{key}}" selected>{{localize attribute.label}}</option>
                {{else}}
                    <option value="{{key}}">{{localize attribute.label}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.SKILL"}}</label>
        <select id="skill">
            {{#each skills as |skill key|}}
                {{#if skill.selected}}
                    <option value="{{key}}" selected>{{localize skill.label}}</option>
                {{else}}
                    <option value="{{key}}">{{localize skill.label}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.DEFENSE"}}</label>
        {{#if defense.enabled}}
        <select id="defense">
        {{else}}
        <select id="defense" disabled>
        {{/if}}
            {{#each defense.values as | defense |}}
                {{#if defense.selected}}
                    <option value="{{defense.key}}" selected>{{localize defense.label}} {{defense.key}}</option>
                {{else}}
                    <option value="{{defense.key}}">{{localize defense.label}} {{defense.key}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.ARMOUR"}}</label>
        {{#if armour.enabled}}
            <input id="armour" type="number" value="{{armour.value}}"/>
        {{else}}
            <input id="armour" type="number" value="{{armour.value}}" disabled/>
        {{/if}}
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.BONUSDICE"}}</label>
        <input id="bonusDice" type="number" value="{{bonusDice}}" />
    </div>
    <div class="wrapper">
        {{#if hasTraining}}
            <label>{{localize "DIALOG.DOUBLE_TRAINING"}}</label>
            <input id="double-training" type="checkbox" value="active" />
        {{/if}}
        {{#if hasFocus}}
            <label>{{localize "DIALOG.DOUBLE_FOCUS"}}</label>
            <input id="double-focus" type="checkbox" value="active" />
        {{/if}}
    </div>
</div>