<div class="age-of-sigmar-soulbound dialog">
    <div class="wrapper">
        <label>{{localize "DIALOG.ATTRIBUTE"}}</label>
        <select id="attribute">
            {{#select combat.attribute}}
            {{#each attributes as |attribute key|}}
                <option value="{{key}}">{{localize attribute.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="wrapper">
        <!-- TODO Refactor this too-->
        <label>{{localize "DIALOG.SKILL"}}</label>
        <select id="skill">
            {{#select combat.skill}}
            {{#each skills as |skill key|}}
                <option value="{{key}}">{{localize skill.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.ATTACK"}}</label>
        <select id="attack">
            {{#select attackRating}}
            {{#each (config "ratings") as | rating r|}}
                <option value="{{r}}">{{rating}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.DEFENSE"}}</label>
        <select id="defense">
            {{#select targetDefense}}
            {{#each (config "ratings") as | rating r|}}
                    <option value="{{r}}">{{rating}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.ARMOUR"}}</label>
            <input id="armour" type="number" value="{{armour}}"/>
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.BONUSDICE"}}</label>
        <input id="bonusDice" type="number" value="{{bonusDice}}" />
    </div>
    <div class="wrapper">
        <label>{{localize "DIALOG.DOUBLE_TRAINING"}}</label>
        <input id="double-training" type="checkbox" value="active" />
        <label>{{localize "DIALOG.DOUBLE_FOCUS"}}</label>
        <input id="double-focus" type="checkbox" value="active" />
    </div>
</div>