<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>Label</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>Change</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="Attributes">
                    <option value="data.attributes.body.value">{{localize "ATTRIBUTE.BODY"}}</option>
                    <option value="data.attributes.mind.value">{{localize "ATTRIBUTE.MIND"}}</option>
                    <option value="data.attributes.soul.value">{{localize "ATTRIBUTE.SOUL"}}</option>
                </optgroup>
                <optgroup label="Skills">
                    <option value="data.skills.arcana.bonus">{{localize "SKILL.ARCANA"}}</option>
                    <option value="data.skills.athletics.bonus">{{localize "SKILL.ATHLETICS"}}</option>
                    <option value="data.skills.awareness.bonus">{{localize "SKILL.AWARENESS"}}</option>
                    <option value="data.skills.ballisticSkill.bonus">{{localize "SKILL.BALLISTIC_SKILL"}}</option>
                    <option value="data.skills.beastHandling.bonus">{{localize "SKILL.BEAST_HANDLING"}}</option>
                    <option value="data.skills.channelling.bonus">{{localize "SKILL.CHANNELLING"}}</option>
                    <option value="data.skills.crafting.bonus">{{localize "SKILL.CRAFTING"}}</option>
                    <option value="data.skills.determination.bonus">{{localize "SKILL.DETERMINATION"}}</option>
                    <option value="data.skills.devotion.bonus">{{localize "SKILL.DEVOTION"}}</option>
                    <option value="data.skills.dexterity.bonus">{{localize "SKILL.DEXTERITY"}}</option>
                    <option value="data.skills.entertain.bonus">{{localize "SKILL.ENTERTAIN"}}</option>
                    <option value="data.skills.fortitude.bonus">{{localize "SKILL.FORTITUDE"}}</option>
                    <option value="data.skills.guile.bonus">{{localize "SKILL.GUILE"}}</option>
                    <option value="data.skills.intimidation.bonus">{{localize "SKILL.INTIMIDATION"}}</option>
                    <option value="data.skills.intuition.bonus">{{localize "SKILL.INTUITION"}}</option>
                    <option value="data.skills.lore.bonus">{{localize "SKILL.LORE"}}</option>
                    <option value="data.skills.medicine.bonus">{{localize "SKILL.MEDICINE"}}</option>
                    <option value="data.skills.might.bonus">{{localize "SKILL.MIGHT"}}</option>
                    <option value="data.skills.nature.bonus">{{localize "SKILL.NATURE"}}</option>
                    <option value="data.skills.reflexes.bonus">{{localize "SKILL.REFLEXES"}}</option>
                    <option value="data.skills.stealth.bonus">{{localize "SKILL.STEALTH"}}</option>
                    <option value="data.skills.survival.bonus">{{localize "SKILL.SURVIVAL"}}</option>
                    <option value="data.skills.theology.bonus">{{localize "SKILL.THEOLOGY"}}</option>
                    <option value="data.skills.weaponSkill.bonus">{{localize "SKILL.WEAPON_SKILL"}}</option>
                </optgroup>
                <optgroup label="Combat">
                    <option value="data.combat.melee.bonus">{{localize "HEADER.MELEE"}}</option>
                    <option value="data.combat.accuracy.bonus">{{localize "HEADER.ACCURACY"}}</option>
                    <option value="data.combat.defence.bonus">{{localize "HEADER.DEFENCE"}}</option>
                    <option value="data.combat.mettle.bonus">{{localize "HEADER.METTLE"}}</option>
                    <option value="data.combat.health.toughness.bonus">{{localize "HEADER.TOUGHNESS"}}</option>
                    <option value="data.combat.health.wounds.bonus">{{localize "HEADER.WOUND"}}</option>
                    <option value="data.combat.initiative.bonus">{{localize "HEADER.INITIATIVE"}}</option>
                    <option value="data.combat.naturalAwareness.bonus">{{localize "HEADER.NATURAL_AWARENESS"}}</option>
                    <option value="data.combat.armour.bonus">{{localize "HEADER.ARMOUR"}}</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>Modifier</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>