<div class="age-of-sigmar-soulbound dialog">
    <div class="content-box">
        <div class="content-header">
            <h1>{{localize "DIALOG.SPELL_ROLL"}}</h1>
        </div>
        <div class="content-row">
            <div class="entry-vertical" style="width:100px;">
                <h3>{{localize "DIALOG.DN"}}</h3>
                <div class="dn-box">
                    <select id="difficulty">
                        {{#select difficulty}}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        {{/select}}
                    </select>
                    :
                    <select id="complexity">
                        {{#select complexity}}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="entry-vertical">
                <h3>{{localize "DIALOG.ATTRIBUTE"}}</h3>
                <select id="attribute">
                    {{#select attributeKey}}
                    {{#each attributes as |attribute key|}}
                    <option value="{{key}}">{{localize attribute.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="entry-vertical">
                <h3>{{localize "DIALOG.SKILL"}}</h3>
                <select id="skill">
                    {{#select skillKey}}
                    {{#each skills as |skill key|}}
                    <option value="{{key}}">{{localize skill.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="content-row">
            <div class="entry-horizontal">
                <h3>{{localize "DIALOG.FOCUSALLOCATION"}}</h3>
                <select id="allocation">
                    <option value="manual">{{localize "DIALOG.MANUAL"}}</option>
                    <option value="success" selected>{{localize "DIALOG.SUCCESSES"}}</option>
                    <option value="sixes">{{localize "DIALOG.SIXES"}}</option>
                    <option value="trigger">{{localize "DIALOG.TRIGGER"}}</option>
                </select>
            </div>
        </div>
        <div class="content-row">
            <div class="entry-horizontal">
                <h3>{{localize "DIALOG.DOUBLE_TRAINING"}}</h3>
                <input id="double-training" type="checkbox" value="active" />
            </div>
            <div class="entry-horizontal">
                <h3>{{localize "DIALOG.DOUBLE_FOCUS"}}</h3>
                <input id="double-focus" type="checkbox" value="active" />
            </div>
        </div>
        <div class="content-row">
            <div class="entry-horizontal">
                <h3>{{localize "DIALOG.BONUSDICE"}}</h3>
                <div class="sheet-table-valueMain"><input id="bonusDice" type="number" value="{{bonusDice}}" /></div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="dialog-effects">
    <div class="content-box">
        <div class="content-header">
            <h1>{{localize "DIALOG.EFFECTS"}}</h1>
        </div>
        <div class="content-row">
            <select class="effect-select" multiple>
                {{#each effects as |effect e|}}
                <option title="{{effect.data.flags.age-of-sigmar-soulbound.description}}"value="{{e}}">{{effect.label}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>