@use "../variable";
@use "../mixins" as *;

.soulbound.roll {
    .success {
        color: var(--color-succeed);
        text-align: center;
    }

    .failure {
        color: var(--color-deadly);
        text-align: center;
    }

    .title {
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size-20);
    }

    .dice-container {
        @include dice-container();
    }

    button.apply {
        display: inline;
        margin: 0px 0.3rem;
        font-size: var(--font-size-10);
        height: 1.2rem;
        padding: 0px 5px;
        line-height: 1rem;
        min-height: unset;
    }

    .test-buttons {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        button {
            flex: 1;
        }
    }


    .targets {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 0.5rem;

        .target {
            display: flex;
            align-items: center;
            border: 1px solid black;
            padding: 0px 0.5rem;
            border-radius: 5px;
            font-size: var(--font-size-14);
        }
    }

    .overcast-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .overcast-labels {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .overcast-groups {
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: flex-start;

            .overcast-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}