.soulbound.sheet {
    --divider: var(--color-cool-3);
    --condition-active: var(--color-warm-3);
    --list-title: var(--color-cool-3);
    --list-header: var(--color-cool-4);
    
    .sheet-divider,
    .box-header {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: var(--font-size-18);
        background: var(--divider);
        text-align: center;
    }

    .box-section {

        .box-row
        {
            display: flex;
            flex-wrap: wrap;
        }


        .attribute-box {

            .label {
            }


            &.combat {
                --rows: 3;
            }
        }

        .box-editor {

            min-height: 10rem;
            border: 1px solid var(--attribute-border);
            border-top: 0px;
            .editor-content {
                padding: 0px 0.5rem;
            }
        }
    }

    .sheet-list {
        .list-label {
            display: flex;
            border: 1px solid var(--list-header-border);
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            justify-content: center;

            .list-title {
                flex: 1;
            background: var(--list-title);
            text-align: center;
                width: 100%;
            }

            .list-controls {
            background: var(--list-title);
            flex: 0 0 2rem;
            }

            &.list-header {
                flex-wrap: wrap;
                height: 3rem;
                .list-title  {
                    flex: 0 0 100%;                    
                }
            }
        }
    }

    .conditions {
        display: flex;

        flex-wrap: wrap;
        gap: 0.5rem;
        .condition {
            display: flex;
            border: 1px solid var(--border);
            border-radius: 10px;
            padding: 0.2rem 0.5rem;
            gap: 0.5rem;
            img {
                opacity: 0.7;
            }
            img {
                width: 1rem;
            }

            &.active {
                background: var(--condition-active);
                img {
                    opacity: 1;
                }
            }
        }
    }

}