<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}" /></h1>
        </div>
        <div class="sheet-subHeader">
            <h3>{{localize "ARCHETYPE.SPECIES"}}</h3>
            <input name="system.species" type="text" value="{{system.species}}" />
        </div>
        <hr>
        <div class="sheet-content">
            <div class="content-box">
                <div class="content-header">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                </div>
                <div class="content-row">
                    <div class="entry-vertical">
                        <h3>{{localize "ARCHETYPE.BODY"}}</h3>
                        <input name="system.attributes.body" type="number" value="{{system.attributes.body}}" data-dtype="Number" />
                    </div>
                    <div class="entry-vertical">
                        <h3>{{localize "ARCHETYPE.MIND"}}</h3>
                        <input name="system.attributes.mind" type="number" value="{{system.attributes.mind}}" data-dtype="Number" />
                    </div>
                    <div class="entry-vertical">
                        <h3>{{localize "ARCHETYPE.SOUL"}}</h3>
                        <input name="system.attributes.soul" type="number" value="{{system.attributes.soul}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="content-row skills">
                    <div class="entry-vertical">
                        <div class="skill-header">
                            <div class="core">
                                <label>{{localize "ARCHETYPE.CORE_SKILL"}}:</label>
                                <select name="system.skills.core">
                                    <option value=""></option>
                                    {{#select system.skills.core}}
                                    {{#each (config "skills") as |skill sk|}}
                                    {{#if (lookup ../skills sk)}}
                                    <option value="{{sk}}">{{skill}}</option>
                                    {{/if}}
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>

                            <h3>{{localize "ARCHETYPE.SKILLS"}}</h3>
                            <div class="xp">
                                <input type="number" value="{{system.skills.xp}}" name="system.skills.xp" data-dtype="Number" />
                                <label>{{localize "EXPERIENCE.XP"}}</label>
                            </div>
                        </div>
                        <div class="skill-selection">
                            {{#each (config "skills") as |skill sk|}}
                            <div class="skill-group">
                                <input type="checkbox" class="skill-checkbox" data-skill="{{sk}}" {{checked (lookup ../skills sk)}} />
                                <label class="skill-label">{{skill}}</label>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="content-row talent">
                    <div class="entry-vertical">
                        <h3>{{localize "ARCHETYPE.TALENTS"}}</h3>
                        <div class="entry-list">
                            <h4>{{localize "ARCHETYPE.CORE_TALENTS"}}</h4>
                            <div class="inline-list">
                                {{#each system.talents.core as |talent index|}}
                                <div class="entry-content">
                                    <div class="entry-element talents" data-path="system.talents.core" data-index="{{index}}">
                                        <div class="entry-name">
                                            {{talent.name}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <hr>
                        <div class="entry-list">
                            <h4>{{localize "ARCHETYPE.CHOOSE"}} <input type="number" name="system.talents.choose" value="{{system.talents.choose}}" data-dtype="Number"></h4>
                            <div class="inline-list">
                                {{#each system.talents.list as |talent index|}}
                                <div class="entry-content">
                                    <div class="entry-element talents" data-path="system.talents.list" data-index="{{index}}">
                                        <div class="entry-name">
                                            {{talent.name}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-row equipment-list">
                    <div class="entry-vertical">
                        <h3>
                            {{localize "ARCHETYPE.EQUIPMENT"}}
                            <a class="configure-groups"><i class="fas fa-cog"></i></a>
                            <a class="add-generic" title="{{localize 'ARCHETYPE.ITEM.ADD_GENERIC'}}"><i class="fas fa-filter"></i></a>
                            <a class="reset" title="{{localize 'ARCHETYPE.ITEM.RESET_GROUPS'}}"><i class="fas fa-redo"></i></a>
                        </h3>
                        {{{equipmentHTML}}}
                    </div>
                </div>
                <div class="content-row">
                    <div class="entry-vertical">
                        <h3>{{localize "ARCHETYPE.AQUA_GHYRANIS"}}</h3>
                        <input type="number" name="system.aqua" value="{{system.aqua}}" data-dtype="Number">
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>