<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{name}}"/></h1>
        </div>    
        <div class="sheet-subHeader">
            <div class="entry-horizontal">
                <h3>{{localize "EQUIPMENT.AVAILABILITY"}}</h3>
                <select name="system.availability">
                    {{#select system.availability}}
                        <option value="common">{{localize "AVAILABILITY.COMMON"}}</option>
                        <option value="rare">{{localize "AVAILABILITY.RARE"}}</option>
                        <option value="exotic">{{localize "AVAILABILITY.EXOTIC"}}</option>
                        <option value="special">{{localize "AVAILABILITY.SPECIAL"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "EQUIPMENT.COST"}}</h3>
                <input name="system.cost" type="text" value="{{system.cost}}" />
            </div>
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
        </div>

        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="content-box item-description">
                    <div class="content-header">
                        <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    </div>
                    <div class="content-wrapper">
                        {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-effects.html}}
            </div>
        </div>
    </div>
</form>