<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}"/>
    </div>
    <div class="sheet-body">
        <div class="sheet-header"> 
            <h1><input name="name" type="text" value="{{actor.name}}"/></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="subheader-content">
                <div class="entry-horizontal">
                    <input class="archetype-input" readonly type="text" value="{{system.bio.archetype}}" placeholder="{{localize 'BIO.ARCHETYPE'}}" />
                    <input name="system.bio.species" type="text" value="{{system.bio.species}}" placeholder="{{localize 'BIO.SPECIES'}}" />
                </div>
            </div>
            <div class="subheader-content xp-header">
                <input name="header.experience.spent" type="number" value="{{system.experience.spent}}" data-dtype="Number" disabled /> /
                <input name="header.experience.total" type="number" value="{{system.experience.total}}" data-dtype="Number" disabled /> {{localize "EXPERIENCE.XP"}}
            </div>
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="talents">{{localize "TAB.TALENTS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="bio">{{localize "TAB.BIO"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>
        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="talents">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-talents.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/actor-effects.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-gear.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="bio">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-bio.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-notes.html}}
            </div>
        </div>
    </div>
</form>