{{#if result.rolled}}
    {{> systems/age-of-sigmar-soulbound/templates/chat/base/base-result.hbs}}
{{else}}
    <div class="content-wrapper">
{{/if}}

{{#if result.duration}}
    <p style="margin-top: 5px"><strong>{{localize "CHAT.DURATION"}} :</strong> {{result.duration}} </p>
{{/if}}
</div>

{{> systems/age-of-sigmar-soulbound/templates/chat/base/base-targets.hbs}}