.application.soulbound.actor.sheet {

    section[data-tab]
    {
        overflow: auto;
    }


    &.party {
        .header-details {
            .detail-group {
                input {
                    flex:  1;
                }
                label {
                    flex: unset;
                }
            }
        }
    }

    .sheet-list.skills {
        border: 1px solid var(--attribute-border);
        .list-header {
            border: 0px;
        }
        .list-label {
            background: var(--list-title);
            color: white;
        }
        .list-content {

            .list-row {
                width: 50%;
            }
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            height: calc(24rem + 1px);
        }
    }

    .attribute-box {

        .melee,
        .defence,
        .accuracy {
            display: flex;
            justify-content: center;
        }

        .melee {
            img {
                content: url("./assets/image/melee.webp");
            }
        }
        .defence {
            img {
                content: url("./assets/image/defence.webp");
            }
        }
        .accuracy {
            img {
                content: url("./assets/image/accuracy.webp");
            }
        }
    }


    .combat.box-section {
        .box-row {
            gap: 0.5rem;
        }

        .field.bonus {
            input {
                width: 2rem;
                margin-left: 0.5rem;
            }
        }   

        .attribute-box {
            border-bottom: 1px solid var(--attribute-border);
            border-left: 1px solid var(--attribute-border);
        }

        .attribute-box:not(.single)
        {
            .field:not(.bonus) {
                border-bottom: 1px solid var(--attribute-border);
            }
        }

        .sheet-list.wounds {
            flex: 1;
        }
    }


    .list-label.list-header {
        .list-controls {
            background: none;
        }
    }

    .sheet-list .list-content {
        border: 1px solid var(--attribute-border);
        border-top: 0px;
    }
    
    .sheet-list {
        .description {
            padding: 0px 0.5rem;
        }
    }

    [data-tab=combat] {

        .item-trait
        {
            margin-left: 3px;       
        }
    }

    .power {

        .fill {

        }

         .fill.low {
            background: linear-gradient(slategrey, darkslategray);
         }
         
         .fill.medium {
            background: url(./assets/image/header-background-vertical.webp);
         
            -webkit-animation: glow-medium 1s ease-in-out infinite alternate;
            -moz-animation: glow-medium 1s ease-in-out infinite alternate;
            animation: glow-medium 1s ease-in-out infinite alternate;
            
         }

         .fill.high {
            background: url(./assets/image/foreground.webp);

            -webkit-animation: glow-high 0.5s ease-in-out infinite alternate;
            -moz-animation: glow-high 0.5s ease-in-out infinite alternate;
            animation: glow-high 0.5s ease-in-out infinite alternate;
         }

         .fill.over {
            background: linear-gradient(red, darkred);
         
            -webkit-animation: glow-over 0.2s ease-in-out infinite alternate;
            -moz-animation: glow-over 0.2s ease-in-out infinite alternate;
            animation: glow-over 0.2s ease-in-out infinite alternate;
         }
    
    }

}

body.theme-dark .application.soulbound.actor {

    .attribute-box {
        .melee {
            img {
                content: url("./assets/image/melee-white.webp");
            }
        }
        .defence {
            img {
                content: url("./assets/image/defence-white.webp");
            }
        }
        .accuracy {
            img {
                content: url("./assets/image/accuracy-white.webp");
            }
        }
    }

}

@keyframes glow-medium{
    from {
      box-shadow: 0 0 5px #2e64b1;
    }
    to {
      box-shadow: 0 0 10px #2e64b1;
    }
  }
 

 @keyframes glow-high{
    from {
      box-shadow: 0 0 5px var(--color-active);
    }
    to {
      box-shadow: 0 0 15px var(--color-active);
    }
  }
 
 
 @keyframes glow-over{
     from {
       box-shadow: 0 0 5px darkred;
     }
     to {
       box-shadow: 0 0 10px darkred;
     }
   }