<form>
    <img class="background-image" src="{{archetype.data.img}}">
    <div class="character-creation">
        <header class="header">
            <input type="text" name="name" value="{{actor.name}}" placeholder="Name">
        </header>
        <div class="sheet-body">
            <div class="attributes">
                <div class="attribute">
                    <input type="text" disabled class="attribute-input" value="{{archetype.attributes.body}}">
                    <label>Body</label>
                </div>
                <div class="attribute">
                    <input type="text" disabled class="attribute-input" value="{{archetype.attributes.mind}}">
                    <label>Mind</label>
                </div>
                <div class="attribute">
                    <input type="text" disabled class="attribute-input" value="{{archetype.attributes.soul}}">
                    <label>Soul</label>
                </div>
            </div>
            <div class="cc-columns">
                <div class="skills">
                    <h3>Skills</h3>
                    <div class="xp">
                        XP Spent
                        <input type="number" disabled class="xp-spent" value="0">
                        <input type="number" class="xp-total" value="{{archetype.skills.xp}}">
                    </div>
                    <div class="skill-header skill">
                        <span>Skill</span>
                        <span>Training</span>
                        <span>Focus</span>
                    </div>
                    {{#each archetype.skills.list as |skill sk|}}
                    <div class="skill" data-skill="{{skill}}">
                        <span>{{configLookup "skills" skill}}</span>
                        <span class="skill-button" data-type="training">
                            <button type="button" data-type="dec">-</button>
                            {{#if (eq ../archetype.skills.core skill)}}
                            <span class="skill-value">1</span>
                            {{else}}
                            <span class="skill-value">0</span>
                            {{/if}}
                            <button type="button" data-type="inc">+</button>
                        </span>
                        <span class="skill-button" data-type="focus">
                            <button type="button" data-type="dec">-</button>
                            {{#if (eq ../archetype.skills.core skill)}}
                            <span class="skill-value">1</span>
                            {{else}}
                            <span class="skill-value">0</span>
                            {{/if}}
                            <button type="button" data-type="inc">+</button>
                        </span>
                    </div>
                    {{/each}}

                </div>
                <div class="talents">
                    <h3>Talents</h3>
                    <div class="talent-count">
                        <label>Choose</label>
                        <input disabled type="number" value="{{archetype.talents.choose}}">
                    </div>
                    {{#each coreTalents as |talent t|}}
                    <div class="core talent">
                        <div class="talent-header">
                            <img src="{{talent.data.img}}">
                            <label>{{talent.name}}</label>
                        </div>
                        <div class="talent-description">
                            {{#if talent.requirement}}
                            <b>Requirement:</b> {{talent.requirement}}<br>
                            {{/if}}
                            {{{enrich talent.description}}}
                        </div>
                    </div>
                    {{/each}}
                    {{#each chooseTalents as |talent t|}}
                    <div class="talent">
                        <div class="talent-header">
                            <img src="{{talent.data.img}}">
                            <label>{{talent.name}}</label>
                            <input type="checkbox" data-id="{{talent.id}}">
                        </div>
                        <div class="talent-description">
                            {{#if talent.requirement}}
                            <b>Requirement:</b> {{talent.requirement}}<br>
                            {{/if}}
                            {{{enrich talent.description}}}
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="equipment">
                    <h3>Equipment</h3>
                    <div class="aqua-ghyranis">
                        <label>Aqua Ghyranis</label>
                        <input type="number" name="aqua" value="{{archetype.data.data.aqua}}">
                    </div>
                    {{{equipmentHTML}}}
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>