<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "ATTRIBUTE.BODY"}}</div>
            <input name="data.bonus.attributes.body" type="number" value="{{data.bonus.attributes.body}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered"l>{{localize "ATTRIBUTE.MIND"}}</div>
            <input name="data.bonus.attributes.mind" type="number" value="{{data.bonus.attributes.mind}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "ATTRIBUTE.SOUL"}}</div>
            <input name="data.bonus.attributes.soul" type="number" value="{{data.bonus.attributes.soul}}" data-dtype="Number" />
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.RESOURCES"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.ARMOUR"}}</div>
            <input name="data.bonus.combat.armour" type="number" value="{{data.bonus.combat.armour}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.TOUGHNESS"}}</div>
            <input name="data.bonus.combat.health.toughness" type="number" value="{{data.bonus.combat.health.toughness}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.WOUND"}}</div>
            <input name="data.bonus.combat.health.wounds" type="number" value="{{data.bonus.combat.health.wounds}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.METTLE"}}</div>
            <input name="data.bonus.combat.mettle" type="number" value="{{data.bonus.combat.mettle}}" data-dtype="Number" />
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.ABILITIES"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.MELEE"}}</div>
            <input name="data.bonus.combat.melee" type="number" value="{{data.bonus.combat.melee}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.ACCURACY"}}</div>
            <input name="data.bonus.combat.accuracy" type="number" value="{{data.bonus.combat.accuracy}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.DEFENSE"}}</div>
            <input name="data.bonus.combat.defense" type="number" value="{{data.bonus.combat.defense}}" data-dtype="Number" />
        </div>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.INITIATIVE"}}</div>
            <input name="data.bonus.combat.initiative" type="number" value="{{data.bonus.combat.initiative}}" data-dtype="Number" />
        </div>
        <div class="entry-vertical">
            <div class="content-label-centered">{{localize "HEADER.NATURAL_AWARENESS"}}</div>
            <input name="data.bonus.combat.naturalAwareness" type="number" value="{{data.bonus.combat.naturalAwareness}}" data-dtype="Number" />
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
    </div>
    <div class="content-row"> 
        <div class="content-column" style="width:50%">
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.ARCANA"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.arcana" type="number" value="{{data.bonus.skills.arcana}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.ATHLETICS"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.athletics" type="number" value="{{data.bonus.skills.athletics}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.AWARENESS"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.awareness" type="number" value="{{data.bonus.skills.awareness}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.BALLISTIC_SKILL"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.ballisticSkill" type="number" value="{{data.bonus.skills.ballisticSkill}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.BEAST_HANDLING"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.beastHandling" type="number" value="{{data.bonus.skills.beastHandling}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.CHANNELLING"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.channelling" type="number" value="{{data.bonus.skills.channelling}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.CRAFTING"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.crafting" type="number" value="{{data.bonus.skills.crafting}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.DETERMINATION"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.determination" type="number" value="{{data.bonus.skills.determination}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.DEVOTION"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.devotion" type="number" value="{{data.bonus.skills.devotion}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.DEXTERITY"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.dexterity" type="number" value="{{data.bonus.skills.dexterity}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.ENTERTAIN"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.entertain" type="number" value="{{data.bonus.skills.entertain}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.FORTITUDE"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.fortitude" type="number" value="{{data.bonus.skills.fortitude}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="content-column" style="width:50%">
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.GUILE"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.guile" type="number" value="{{data.bonus.skills.guile}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.INTIMIDATION"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.intimidation" type="number" value="{{data.bonus.skills.intimidation}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.INTUITION"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.intuition" type="number" value="{{data.bonus.skills.intuition}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.LORE"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.lore" type="number" value="{{data.bonus.skills.lore}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.MEDICINE"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.medicine" type="number" value="{{data.bonus.skills.medicine}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.MIGHT"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.might" type="number" value="{{data.bonus.skills.might}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.NATURE"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.nature" type="number" value="{{data.bonus.skills.nature}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.REFLEXES"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.reflexes" type="number" value="{{data.bonus.skills.reflexes}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.STEALTH"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.stealth" type="number" value="{{data.bonus.skills.stealth}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.SURVIVAL"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.survival" type="number" value="{{data.bonus.skills.survival}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.THEOLOGY"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.theology" type="number" value="{{data.bonus.skills.theology}}" data-dtype="Number" /></div>
            </div>
            <div class="table-element">
                <div class="table-label">{{localize "SKILL.WEAPON_SKILL"}}</div>
                <div class="sheet-table-value"><input name="data.bonus.skills.weaponSkill" type="number" value="{{data.bonus.skills.weaponSkill}}" data-dtype="Number" /></div>
            </div>
        </div>
    </div>
</div>