<div class="bonus">
    <div class="bonus-wrapper">
        <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
        <div class="wrapper">
            <label>{{localize "ATTRIBUTE.BODY"}}</label>
            <input name="data.bonus.attributes.body" type="number" value="{{data.bonus.attributes.body}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "ATTRIBUTE.MIND"}}</label>
            <input name="data.bonus.attributes.mind" type="number" value="{{data.bonus.attributes.mind}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "ATTRIBUTE.SOUL"}}</label>
            <input name="data.bonus.attributes.soul" type="number" value="{{data.bonus.attributes.soul}}" data-dtype="Number" />
        </div>
    </div>
    <div class="bonus-wrapper">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
        <div class="wrapper">
            <label>{{localize "SKILL.ARCANA"}}</label>
            <input name="data.bonus.skills.arcana" type="number" value="{{data.bonus.skills.arcana}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.ATHLETICS"}}</label>
            <input name="data.bonus.skills.athletics" type="number" value="{{data.bonus.skills.athletics}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.AWARENESS"}}</label>
            <input name="data.bonus.skills.awareness" type="number" value="{{data.bonus.skills.awareness}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.BALLISTIC_SKILL"}}</label>
            <input name="data.bonus.skills.ballisticSkill" type="number" value="{{data.bonus.skills.ballisticSkill}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.BEAST_HANDLING"}}</label>
            <input name="data.bonus.skills.beastHandling" type="number" value="{{data.bonus.skills.beastHandling}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.CHANNELLING"}}</label>
            <input name="data.bonus.skills.channelling" type="number" value="{{data.bonus.skills.channelling}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.CRAFTING"}}</label>
            <input name="data.bonus.skills.crafting" type="number" value="{{data.bonus.skills.crafting}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.DETERMINATION"}}</label>
            <input name="data.bonus.skills.determination" type="number" value="{{data.bonus.skills.determination}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.DEVOTION"}}</label>
            <input name="data.bonus.skills.devotion" type="number" value="{{data.bonus.skills.devotion}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.DEXTERITY"}}</label>
            <input name="data.bonus.skills.dexterity" type="number" value="{{data.bonus.skills.dexterity}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.ENTERTAIN"}}</label>
            <input name="data.bonus.skills.entertain" type="number" value="{{data.bonus.skills.entertain}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.FORTITUDE"}}</label>
            <input name="data.bonus.skills.fortitude" type="number" value="{{data.bonus.skills.fortitude}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.GUILE"}}</label>
            <input name="data.bonus.skills.guile" type="number" value="{{data.bonus.skills.guile}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.INTIMIDATION"}}</label>
            <input name="data.bonus.skills.intimidation" type="number" value="{{data.bonus.skills.intimidation}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.INTUITION"}}</label>
            <input name="data.bonus.skills.intuition" type="number" value="{{data.bonus.skills.intuition}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.LORE"}}</label>
            <input name="data.bonus.skills.lore" type="number" value="{{data.bonus.skills.lore}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.MEDICINE"}}</label>
            <input name="data.bonus.skills.medicine" type="number" value="{{data.bonus.skills.medicine}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.MIGHT"}}</label>
            <input name="data.bonus.skills.might" type="number" value="{{data.bonus.skills.might}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.NATURE"}}</label>
            <input name="data.bonus.skills.nature" type="number" value="{{data.bonus.skills.nature}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.REFLEXES"}}</label>
            <input name="data.bonus.skills.reflexes" type="number" value="{{data.bonus.skills.reflexes}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.STEALTH"}}</label>
            <input name="data.bonus.skills.stealth" type="number" value="{{data.bonus.skills.stealth}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.SURVIVAL"}}</label>
            <input name="data.bonus.skills.survival" type="number" value="{{data.bonus.skills.survival}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.THEOLOGY"}}</label>
            <input name="data.bonus.skills.theology" type="number" value="{{data.bonus.skills.theology}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "SKILL.WEAPON_SKILL"}}</label>
            <input name="data.bonus.skills.weaponSkill" type="number" value="{{data.bonus.skills.weaponSkill}}" data-dtype="Number" />
        </div>
    </div>
    <div class="bonus-wrapper">
        <h1>{{localize "TITLE.RESOURCES"}}</h1>
        <div class="wrapper">
            <label>{{localize "HEADER.TOUGHNESS"}}</label>
            <input name="data.bonus.combat.health.toughness" type="number" value="{{data.bonus.combat.health.toughness}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.WOUND"}}</label>
            <input name="data.bonus.combat.health.wounds" type="number" value="{{data.bonus.combat.health.wounds}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.METTLE"}}</label>
            <input name="data.bonus.combat.mettle" type="number" value="{{data.bonus.combat.mettle}}" data-dtype="Number" />
        </div>
    </div>
    <div class="bonus-wrapper">
        <h1>{{localize "TITLE.ABILITIES"}}</h1>
        <div class="wrapper">
            <label>{{localize "HEADER.INITIATIVE"}}</label>
            <input name="data.bonus.combat.initiative" type="number" value="{{data.bonus.combat.initiative}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.NATURAL_AWARENESS"}}</label>
            <input name="data.bonus.combat.naturalAwareness" type="number" value="{{data.bonus.combat.naturalAwareness}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.MELEE"}}</label>
            <input name="data.bonus.combat.melee" type="number" value="{{data.bonus.combat.melee}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.ACCURACY"}}</label>
            <input name="data.bonus.combat.accuracy" type="number" value="{{data.bonus.combat.accuracy}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.DEFENSE"}}</label>
            <input name="data.bonus.combat.defense" type="number" value="{{data.bonus.combat.defense}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label>{{localize "HEADER.ARMOUR"}}</label>
            <input name="data.bonus.combat.armour" type="number" value="{{data.bonus.combat.armour}}" data-dtype="Number" />
        </div>
    </div>
</div>