<div class="content-box" style="border-top: 2px solid #7c6c42;">
    <div class="content-row">
        {{#each data.attributes as |attribute key|}}
            <div class="entry-vertical">
                <div class="roll-attribute content-label-centered" data-attribute="{{key}}">{{localize attribute.label}}</div>
                <input name="data.attributes.{{key}}.value" type="number" value="{{attribute.value}}" data-dtype="Number" />
            </div>
        {{/each}}
    </div>
</div>  
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
    </div>
    <div class="content-box">
        <div class="content-row">
            <div class="sheet-table-name">{{localize "HEADER.NAME"}}</div>
            <div class="sheet-table-label">{{localize "HEADER.TRAINING"}}</div>
            <div class="sheet-table-label">{{localize "HEADER.FOCUS"}}</div>
            <div class="sheet-table-label">{{localize "HEADER.TOTAL"}}</div>
        </div>
        {{#each data.skills as |skill key|}}
            <div class="content-row">
                <label class="roll-skill sheet-table-name" data-skill="{{key}}">{{localize skill.label}}</label>
                <div class="sheet-table-label"><input name="data.skills.{{key}}.training " type="number" value="{{skill.training}}" data-dtype="Number" /></div>
                <div class="sheet-table-label"><input name="data.skills.{{key}}.focus sheet-table-label" type="number" value="{{skill.focus}}" data-dtype="Number" /></div>
                <div class="sheet-table-label"><input name="data.skills.{{key}}.total sheet-table-label" type="number" value="{{skill.total}}" data-dtype="Number" disabled /></div>
            </div>
        {{/each}}
    </div>
</div>
    <div class="talents">
        <h1>{{localize "TITLE.TALENTS"}}</h1>
        <div class="item-list">
            <div class="item-header">
                <b class="name">{{localize "TALENT.NAME"}}</b>
                <b class="effect">{{localize "TALENT.EFFECT"}}</b>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isTalent}}
                        <div class="talent item" data-item-id="{{item.id}}">
                            <div class="name">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div class="item-edit">{{item.name}}</div>
                            </div>
                            <div class="effect">{{item.effect}}</div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>