<div class="gear">
    <div class="wrapper">
        <div class="resources" style="margin-right: 5px; align-self: start">
            <div class="currencies">
                <h1>{{localize "TITLE.CURRENCIES"}}</h1>
                <div class="drops">
                    <label>{{localize "CURRENCY.DROPS"}}</label>
                    <input name="data.currencies.drops" type="number" value="{{data.currencies.drops}}" data-dtype="Number" />
                </div>
                <div class="phials">
                    <label>{{localize "CURRENCY.PHIALS"}}</label>
                    <input name="data.currencies.phials" type="number" value="{{data.currencies.phials}}" data-dtype="Number" />
                </div>
                <div class="spheres">
                    <label>{{localize "CURRENCY.SPHERES"}}</label>
                    <input name="data.currencies.spheres" type="number" value="{{data.currencies.spheres}}" data-dtype="Number" />
                </div>
            </div>
            <div class="power">
                <h1>{{localize "TITLE.ENERGY"}}</h1>
                <div class="capacity">
                    <label>{{localize "HEADER.CAPACITY"}}</label>
                    <input name="data.power.capacity" type="number" value="{{data.power.capacity}}" data-dtype="Number" disabled />
                </div>
                <div class="consumed">
                    <label>{{localize "HEADER.CONSUMED"}}</label>
                    {{#if data.power.isUndercharge}}
                    <input class="undercharge" name="data.power.consumed" type="number" value="{{data.power.consumed}}" data-dtype="Number" disabled />
                    {{else}}
                    <input name="data.power.consumed" type="number" value="{{data.power.consumed}}" data-dtype="Number" disabled />
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="weapons" style="margin-left: 5px; margin-right: 5px">
            <h1>{{localize "TITLE.WEAPONS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "WEAPON.NAME"}}</b>
                    <b class="state">{{localize "HEADER.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                        {{#if item.isWeapon}}
                            <div class="weapon item" data-item-id="{{item._id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <div class="item-edit">{{item.name}}</div>
                                </div>
                                <div class="state">
                                    {{#if item.isActive}}
                                        <a class="item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                    {{else if item.isEquipped}}
                                        <a class="item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                    {{else}}
                                        <a class="item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                    {{/if}}
                                </div>
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="armours" style="margin-left: 5px">
            <h1>{{localize "TITLE.ARMOURS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "ARMOUR.NAME"}}</b>
                    <b class="state">{{localize "HEADER.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Armour" data-type="armour"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isArmour}}
                    <div class="armour item" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        <div class="state">
                            {{#if item.isActive}}
                            <a class="item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.isEquipped}}
                            <a class="item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                            <a class="item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Armour"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="margin-top: 15px">
        <div class="equipments" style="margin-right: 5px">
            <h1>{{localize "TITLE.EQUIPMENT"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "ARMOUR.NAME"}}</b>
                    <b class="state">{{localize "HEADER.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Equipment" data-type="equipment"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isEquipment}}
                    <div class="equipment item" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        <div class="state">
                            {{#if item.isActive}}
                            <a class="item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.isEquipped}}
                            <a class="item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                            <a class="item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Equipment"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="aetheric-devices" style="margin-left: 5px; margin-right: 5px">
            <h1>{{localize "TITLE.AETHERIC_DEVICES"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "AETHERIC_DEVICE.NAME"}}</b>
                    <b class="state">{{localize "HEADER.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Aetheric Device" data-type="aethericDevice"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isAethericDevice}}
                    <div class="aetheric-device item" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        <div class="state">
                            {{#if item.isActive}}
                            <a class="item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.isEquipped}}
                            <a class="item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                            <a class="item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Aetheric Device"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="runes" style="margin-left: 5px">
            <h1>{{localize "TITLE.RUNES"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "WEAPON.NAME"}}</b>
                    <b class="state">{{localize "HEADER.STATE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Rune" data-type="rune"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isRune}}
                    <div class="rune item" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        <div class="state">
                            {{#if item.isActive}}
                                <a class="item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.isEquipped}}
                                <a class="item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                                <a class="item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Rune"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>