<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.SHORT_GOALS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Goal" data-type="partyItem" data-category="shortGoal"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.shortGoals as |item|}}
                <div class="goal item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        <div class="segment-horizontal">
                            {{#if item.state}}
                                <a class="completed active" title="{{localize 'GOAL.COMPLETED'}}"><i class="far fa-check-circle"></i></a>
                            {{else}}
                                <a class="completed" title="{{localize 'GOAL.IN_PROGRESS'}}"><i class="far fa-circle"></i></a>
                            {{/if}}
                            <div class="item-edit" style="padding:0px 4px">{{item.name}}</div>
                        </div>                       
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Goal"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.LONG_GOALS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Goal" data-type="partyItem" data-category="longGoal"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.longGoals as |item|}}
                <div class="goal item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        <div class="segment-horizontal">
                            {{#if item.state}}
                                <a class="completed active" title="{{localize 'GOAL.COMPLETED'}}"><i class="far fa-check-circle"></i></a>
                            {{else}}
                                <a class="completed" title="{{localize 'GOAL.IN_PROGRESS'}}"><i class="far fa-circle"></i></a>
                            {{/if}}
                            <div class="item-edit" style="padding:0px 4px">{{item.name}}</div>
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Goal"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.RUMOURS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Rumour" data-type="partyItem" data-category="rumour"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.rumours as |item|}}
                <div class="rumour item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        {{#if item.state}}
                            <div class="item-edit">{{item.name}}</div>
                        {{else}}
                            <div class="item-edit" style="text-decoration: line-through;">{{item.name}}</div>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Rumour"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.FEARS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Fear" data-type="partyItem" data-category="fear"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.fears as |item|}}
                <div class="fear item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        {{#if item.state}}
                            <div class="item-edit">{{item.name}}</div>
                        {{else}}
                            <div class="item-edit" style="text-decoration: line-through;">{{item.name}}</div>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Fear"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.THREATS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Threat" data-type="partyItem" data-category="threat"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.threats as |item|}}
                <div class="threat item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        {{#if item.state}}
                            <div class="item-edit">{{item.name}}</div>
                        {{else}}
                            <div class="item-edit" style="text-decoration: line-through;">{{item.name}}</div>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Threat"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>