<div class="main">
    <div class="wrapper">
        <div class="short-goals" style="margin-right: 5px">
            <h1>{{localize "TITLE.SHORT_GOALS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "GOAL.NAME"}}</b>
                    <b class="state">{{localize "GOAL.COMPLETED"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Goal" data-type="goal"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                        {{#if item.isShortGoal}}
                            <div class="goal item" data-item-id="{{item.id}}">
                                <div class="name">
                                    <div class="image-container">
                                        <div class="image" style="background-image: url('{{item.img}}')"></div>
                                    </div>
                                    <div class="item-edit">{{item.name}}</div>
                                </div>
                                {{#if data.completed}}
                                    <a class="completed active" title="{{localize 'GOAL.COMPLETED'}}"><i class="fas fa-bolt"></i></a>
                                {{else}}
                                    <a class="completed" title="{{localize 'GEAR.IN_PROGRESS'}}"><i class="fas fa-bolt"></i></a>
                                {{/if}}
                                <div class="button">
                                    <a class="item-control item-delete" title="Delete Goal"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="long-goals" style="margin-left: 5px">
            <h1>{{localize "TITLE.LONG_GOALS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "GOAL.NAME"}}</b>
                    <b class="state">{{localize "GOAL.COMPLETED"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Goal" data-type="goal"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isLongGoal}}
                    <div class="goal item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if data.completed}}
                        <a class="completed active" title="{{localize 'GOAL.COMPLETED'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'GEAR.IN_PROGRESS'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Goal"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="margin-top: 15px">
        <div class="allies" style="margin-right: 5px">
            <h1>{{localize "TITLE.ALLIES"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ALIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Ally" data-type="ally"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isAlly}}
                    <div class="ally item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                            <a class="completed active" title="{{localize 'STATE.ALIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                            <a class="completed" title="{{localize 'STATE.DEAD'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Ally"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="enemies" style="margin-left: 5px">
            <h1>{{localize "TITLE.ENEMIES"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ALIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Enemy" data-type="enemy"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isEnemy}}
                    <div class="enemy item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                        <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Enemy"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="margin-top: 15px">
        <div class="resources" style="margin-right: 5px">
            <h1>{{localize "TITLE.RESOURCES"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ACTIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Resource" data-type="resource"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isResource}}
                    <div class="resource item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                        <a class="completed active" title="{{localize 'STATE.ALIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'STATE.DEAD'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Resource"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="rumours" style="margin-left: 5px">
            <h1>{{localize "TITLE.RUMOURS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ACTIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Rumour" data-type="rumour"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isRumour}}
                    <div class="rumour item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                        <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Rumour"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="margin-top: 15px">
        <div class="fears" style="margin-right: 5px">
            <h1>{{localize "TITLE.FEARS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ACTIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Fear" data-type="fear"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isFear}}
                    <div class="fear item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                        <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Fear"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="threats" style="margin-left: 5px">
            <h1>{{localize "TITLE.THREATS"}}</h1>
            <div class="item-list">
                <div class="item-header">
                    <b class="name">{{localize "HEADER.NAME"}}</b>
                    <b class="state">{{localize "STATE.ACTIVE"}}</b>
                    <div class="button">
                        <a class="item-create" title="Add Threat" data-type="threat"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="items">
                    {{#each actor.items as |item|}}
                    {{#if item.isThreat}}
                    <div class="threat item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="item-edit">{{item.name}}</div>
                        </div>
                        {{#if item.data.state}}
                        <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                        <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Threat"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>