<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.MEMBERS"}}</h1>
    </div>
    <div class="content-wrapper">
        {{#each members as |item|}}
            <div class="member item table-element-vertical" data-item-id="{{item.id}}">
                <div class="table-element-row">
                    <div class="member-click bold">{{item.name}}</div>
                    <div class="segment-horizontal" style="justify-content: flex-end;">
                        {{item.bio.species}} - {{item.bio.archetype}}
                        <div class="button" style="padding:0px 0px 0px 4px">
                            <a class="item-control member-delete" title="Delete Member"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        {{/each}}
    </div>
</div>
<hr>
<div style="display:flex; flex-direction:row; justify-content:space-between;">
    <div class="content-box" style="width:48%">
        <div class="content-header" style="padding:0px 4px 0px 24px;">
            <h1>{{localize "TITLE.ALLIES"}}</h1>
            <div class="button">
                <a class="item-create" title="Add Ally" data-type="partyItem" data-category="ally"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="content-wrapper">
            {{#each party.allies as |item|}}
                    <div class="ally item table-element-vertical" data-item-id="{{item.id}}">
                        <div class="table-element-row">
                            <div class="segment-horizontal">
                                {{#if item.state}}
                                    <a class="completed active" title="{{localize 'STATE.ALIVE'}}"><i class="fas fa-sun"></i></a>
                                {{else}}
                                    <a class="completed" title="{{localize 'STATE.DEAD'}}"><i class="fas fa-skull"></i></a>
                                {{/if}}
                                <div class="item-edit" style="padding:0px 0px 0px 4px;">{{item.name}}</div>
                            </div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Ally"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
    <div class="content-box"style="width:48%">
        <div class="content-header" style="padding:0px 4px 0px 24px;">
            <h1>{{localize "TITLE.ENEMIES"}}</h1>
            <div class="button">
                <a class="item-create" title="Add Enemy" data-type="partyItem" data-category="enemy"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="content-wrapper">
            {{#each party.enemies as |item|}}
                    <div class="enemy item table-element-vertical" data-item-id="{{item.id}}">
                        <div class="table-element-row">
                            <div class="segment-horizontal">
                                {{#if item.state}}
                                    <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-sun"></i></a>
                                {{else}}
                                    <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-skull"></i></a>
                                {{/if}}        
                                <div class="item-edit item-member" style="padding:0px 0px 0px 4px;">{{item.name}}</div>
                            </div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Enemy"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px">
        <h1>{{localize "TITLE.RESOURCES"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Resource" data-type="partyItem" data-category="resource"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each party.resources as |item|}}
                <div class="resource item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        <div class="segment-horizontal">
                            {{#if item.state}}
                                <a class="completed active" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-sun"></i></a>
                            {{else}}
                                <a class="completed" title="{{localize 'STATE.INACTIVE'}}"><i class="fas fa-skull"></i></a>
                            {{/if}}        
                            <div class="item-edit" style="padding:0px 0px 0px 4px;">{{item.name}}</div>
                        </div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Resource"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.NOTES"}}</h1>
    </div>
    <div class="content-wrapper" style="min-height: 120px;">
        {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>
</div>