<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.TALENTS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Talent" data-type="talent"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isTalent}}
                <div class="table-element">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="talent item table-element-vertical" data-item-id="{{item.id}}">
                        <div class="table-element-row">
                            <div class="item-edit table-label bold">{{item.name}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Talent"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">{{item.description}}</div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.SPELLS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Spell" data-type="spell"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isSpell}}
            <div class="table-element">
                <div class="table-element-img"><img src={{item.data.img}}/></div>
                <div class="spell item table-element-vertical" data-item-id="{{item.id}}">
                    <div class="table-element-row">
                        <div class="item-edit table-label bold">{{item.name}}</div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="table-element-row">
                        <div class="effect">{{item.description}}</div>
                    </div>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.MIRACLES"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Miracle" data-type="miracle"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isMiracle}}
                <div class="table-element">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="miracle item table-element-vertical" data-item-id="{{item.id}}">
                        <div class="table-element-row">
                            <div class="item-edit">{{item.name}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Miracle"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="effect">{{item.description}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>