<div class="item-list">
    <div class="item-header">
        <h1 class="header-text">{{localize "TITLE.TALENTS"}}</h1>
        <a class="item-create absolute" title="Add Talent" data-type="talent"><i class="fas fa-plus"></i></a>
    </div>
    {{#each items.talents as |item|}}
                <div class="item" data-item-id="{{item.id}}">
                    <div class="item-content">
                        <div class="item-property item-name">
                            <div class="item-image">
                                <img src={{item.data.img}} />
                            </div>
                            <a class="item-dropdown item-edit-rc">{{item.name}}</a>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit"><i class="fas fa-edit"></i></a> 
                            <a class="item-control item-post"><i class="fas fa-comment"></i></a> 
                            <a class="item-control item-dropdown"><i class="fas fa-chevron-down"></i></a> 
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a> 
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-property description dropdown-target">{{{item.description}}}</div>
                    </div>
                </div>
    {{/each}}
</div>
<hr>
<div class="item-list">
    <div class="item-header">
        <h1 class="header-text">{{localize "TITLE.SPELLS"}}</h1>
        <a class="item-create absolute" title="Add Spell" data-type="spell"><i class="fas fa-plus"></i></a>
    </div>
    {{#each items.spells as |item|}}
                <div class="item" data-item-id="{{item.id}}">
                    <div class="item-content">
                        <div class="item-property item-name">
                            <div class="item-image">
                                <img src={{item.data.img}} />
                            </div>
                            <a class="item-dropdown item-edit-rc">{{item.name}}</a>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit"><i class="fas fa-edit"></i></a> 
                            <a class="item-control item-post"><i class="fas fa-comment"></i></a> 
                            <a class="item-control item-dropdown"><i class="fas fa-chevron-down"></i></a> 
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a> 
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-property description dropdown-target">{{{item.description}}}</div>
                    </div>
                </div>
    {{/each}}
</div>
<hr>
<div class="item-list">
    <div class="item-header">
        <h1 class="header-text">{{localize "TITLE.MIRACLES"}}</h1>
        <a class="item-create absolute" title="Add Miracle" data-type="miracle"><i class="fas fa-plus"></i></a>
    </div>
    {{#each items.miracles as |item|}}
                <div class="item" data-item-id="{{item.id}}">
                    <div class="item-content">
                        <div class="item-property item-name">
                            <div class="item-image">
                                <img src={{item.data.img}} />
                            </div>
                            <a class="item-dropdown item-edit-rc">{{item.name}}</a>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit"><i class="fas fa-edit"></i></a> 
                            <a class="item-control item-post"><i class="fas fa-comment"></i></a> 
                            <a class="item-control item-dropdown"><i class="fas fa-chevron-down"></i></a> 
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a> 
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-property description dropdown-target">{{{item.description}}}</div>
                    </div>
                </div>
    {{/each}}
</div>