<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    </div>
    <div class="content-row">
        {{#each data.attributes as |attribute key|}}
            <div class="entry-vertical">
                <div class="roll-attribute content-label-centered" data-attribute="{{key}}">{{localize attribute.label}}</div>
                <input name="data.attributes.{{key}}.value" type="number" value="{{attribute.value}}" data-dtype="Number" />
            </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
    </div>
    <div class="content-row">
        <div class="content-column">
            <div class="content-row">
                <div class="sheet-table-name bold">{{localize "HEADER.NAME"}}</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.TRAINING"}}">T</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.POOL"}}">P</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.FOCUS"}}">F</div>
            </div>
            {{#each data.skills as |skill key|}}
                {{#if skill.isLeft}}
                    <div class="content-row" style="align-items: center;">
                        <a class="roll-skill sheet-table-name" data-skill="{{key}}">{{localize skill.label}}</a>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.training" type="number" value="{{skill.training}}" data-dtype="Number" /></div>
                        <div class="sheet-table-value">({{skill.value}})</div>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.focus" type="number" value="{{skill.focus}}" data-dtype="Number" /></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="content-column">
            <div class="content-row">
                <div class="sheet-table-name bold">{{localize "HEADER.NAME"}}</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.TRAINING"}}">T</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.POOL"}}">P</div>
                <div class="sheet-table-value bold" title="{{localize "HEADER.FOCUS"}}">F</div>
            </div>
            {{#each data.skills as |skill key|}}
                {{#if skill.isRight}}
                    <div class="content-row" style="align-items: center;">
                        <a class="roll-skill sheet-table-name" data-skill="{{key}}">{{localize skill.label}}</a>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.training" type="number" value="{{skill.training}}" data-dtype="Number" /></div>
                        <div class="sheet-table-value">({{skill.value}})</div>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.focus" type="number" value="{{skill.focus}}" data-dtype="Number" /></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.TALENTS"}}</h1>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isTalent}}
                <div class="talent item table-element" data-item-id="{{item.id}}">
                    <div class="segment-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="segment-vertical">
                        <div class="table-element-row">
                            <div class="table-label bold">
                                <div class="item-edit">{{item.name}}</div>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="effect">{{{item.description}}}</div>
                        </div>
                    </div>        
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
