{{#if (eq actor.type "player") }}
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "EXPERIENCE.EXPERIENCE"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "EXPERIENCE.OUTSTANDING"}}</h3>
            <input name="data.experience.outstanding" type="number" value="{{data.experience.outstanding}}" data-dtype="Number" disabled />
        </div>
        <div class="entry-vertical">
            <h3>{{localize "EXPERIENCE.SPENT"}}</h3>
            <input name="data.experience.spent" type="number" value="{{data.experience.spent}}" data-dtype="Number" disabled />
        </div>
        <div class="entry-vertical">
            <h3>{{localize "EXPERIENCE.TOTAL"}}</h3>
            <input name="data.experience.total" type="number" value="{{data.experience.total}}" data-dtype="Number" />
        </div>
    </div>
</div>
<hr>
{{/if}}
<div class="content-box" style="flex-grow:1">
    <div class="content-header">
        <h1>{{localize "TITLE.NOTES"}}</h1>
    </div>
    <div class="content-wrapper" style="display:flex; flex-grow:1;">
        {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>
</div>