<div style="display:flex; flex-direction:row;">
    <div class="content-box" style="margin:0px 16px 0px 0px">
        <div class="content-header">
            <h1>{{localize "TITLE.CURRENCIES"}}</h1>
        </div>
        <div class="content-row">
            <div class="entry-vertical">
                <h3>{{localize "CURRENCY.SPHERES"}}</h3>
                <input name="data.currencies.spheres" type="number" value="{{data.currencies.spheres}}" data-dtype="Number" />
            </div>
            <div class="entry-vertical">
                <h3>{{localize "CURRENCY.PHIALS"}}</h3>
                    <input name="data.currencies.phials" type="number" value="{{data.currencies.phials}}" data-dtype="Number" />
            </div>
            <div class="entry-vertical">
                <h3>{{localize "CURRENCY.DROPS"}}</h3>
                <input name="data.currencies.drops" type="number" value="{{data.currencies.drops}}" data-dtype="Number" />
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="content-header">
            <h1>{{localize "TITLE.ENERGY"}}</h1>
        </div>
        <div class="content-row">
            <div class="entry-vertical">
                <h3>{{localize "HEADER.CAPACITY"}}</h3>
                <input name="data.power.capacity" type="number" value="{{data.power.capacity}}" data-dtype="Number" disabled />
            </div>
            <div class="entry-vertical">
                <h3>{{localize "HEADER.CONSUMED"}}</h3>
                {{#if data.power.isUndercharge}}
                    <input class="undercharge" name="data.power.consumed" type="number" value="{{data.power.consumed}}" data-dtype="Number" disabled />
                {{else}}
                    <input name="data.power.consumed" type="number" value="{{data.power.consumed}}" data-dtype="Number" disabled />
                {{/if}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.WEAPONS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isWeapon}}
                <div class="weapon item table-element" data-item-id="{{item.id}}">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div>
                        <div class="table-element-row">
                            <div class="item-name item-edit bold">{{item.name}}</div>
                            <div class="item-property long">
                                {{item.damage}} {{localize "WEAPON.DAMAGE"}}
                            </div>
                            <div class="item-controls button">
                                {{#if item.isActive}}
                                <a class="item-control item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                {{else if item.isEquipped}}
                                <a class="item-control item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                {{else}}
                                <a class="item-control item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                {{/if}}
                                <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="table-label">{{{item.description}}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.ARMOURS"}}</h1>
        <div class="button">    
            <a class="item-create" title="Add Armour" data-type="armour"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isArmour}}
                <div class="armour item table-element" data-item-id="{{item.id}}">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="table-element-row">
                        <div class="item-name item-edit bold">{{item.name}}</div>
                            <div class="item-property">
                                {{item.benefit}} {{localize "ITEM.TypeArmour"}}
                            </div>
                            <div class="item-controls button">
                                {{#if item.isActive}}
                                <a class="item-control item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                {{else if item.isEquipped}}
                                <a class="item-control item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                {{else}}
                                <a class="item-control item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                {{/if}}
                                <a class="item-control item-delete" title="Delete Armour"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="table-label">{{{item.description}}}</div>
                        </div>
                    </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.EQUIPMENT"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Equipment" data-type="equipment"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isEquipment}}
                <div class="equipment item table-element" data-item-id="{{item.id}}">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="table-element-row">
                        <div class="item-name item-edit bold">{{item.name}}</div>
                            <div class="item-controls button">
                                {{#if item.isActive}}
                                <a class="item-control item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                {{else if item.isEquipped}}
                                <a class="item-control item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                {{else}}
                                <a class="item-control item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                {{/if}}
                                <a class="item-control item-delete" title="Delete Equipment"><i class="fas fa-trash"></i></a>
                            </div>  
                        </div> 
                        <div class="table-element-row">
                            <div class="table-label">{{{item.description}}}</div>
                        </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.AETHERIC_DEVICES"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Aetheric Device" data-type="aethericDevice"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isAethericDevice}}
                <div class="aetheric-device item table-element" data-item-id="{{item.id}}">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="table-element-row">
                        <div class="item-name item-edit bold">{{item.name}}</div>
                            <div class="item-property">
                                -{{item.power.consumption}} / +{{item.power.capacity}}
                            </div>
                            <div class="button">
                                {{#if item.isActive}}
                                <a class="item-control item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                {{else if item.isEquipped}}
                                <a class="item-control item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                {{else}}
                                <a class="item-control item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                {{/if}}
                                <a class="item-control item-delete" title="Delete Aetheric Device"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="table-label">{{{item.description}}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.RUNES"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Rune" data-type="rune"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isRune}}
                <div class="rune item table-element" data-item-id="{{item.id}}">
                    <div class="table-element-img">
                        <img src={{item.data.img}}/>
                    </div>
                    <div class="table-element-row">
                        <div class="item-name item-edit bold">{{item.name}}</div>
                            <div class="item-controls button">
                                {{#if item.isActive}}
                                <a class="item-control item-state" title="{{localize 'STATE.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                                {{else if item.isEquipped}}
                                <a class="item-control item-state" title="{{localize 'STATE.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                                {{else}}
                                <a class="item-control item-state" title="{{localize 'STATE.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                                {{/if}}
                                <a class="item-control item-delete" title="Delete Rune"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="table-element-row">
                            <div class="table-label">{{{item.description}}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
</div>