<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.PHYSICAL"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "BIO.AGE"}}</h3>
            <input name="data.bio.age" type="text" value="{{data.bio.age}}"/>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "BIO.HEIGHT"}}</h3>
            <input name="data.bio.height" type="text" value="{{data.bio.height}}"/>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "BIO.WEIGHT"}}</h3>
            <input name="data.bio.weight" type="text" value="{{data.bio.weight}}"/>
        </div>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "BIO.EYETYPE"}}</h3>
            <input name="data.bio.eyeType" type="text" value="{{data.bio.eyeType}}"/>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "BIO.EYES"}}</h3>
            <input name="data.bio.eyes" type="text" value="{{data.bio.eyes}}"/>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "BIO.HAIR"}}</h3>
            <input name="data.bio.hair" type="text" value="{{data.bio.hair}}"/>
        </div>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "BIO.DISTINGUISHING_FEATURES"}}</h3>
            <input name="data.bio.distinguishingFeatures" type="text" value="{{data.bio.distinguishingFeatures}}"/>
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "BIO.BACKGROUND"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "BIO.FACTION"}}</h3>
            <input name="data.bio.faction" type="text" value="{{data.bio.faction}}"/>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "BIO.SUBFACTION"}}</h3>
        <input name="data.bio.subfaction" type="text" value="{{data.bio.subfaction}}"/>
        </div>
    </div>
    <div class="content-wrapper" style="min-height: 72px;">
        {{{editor content=data.background target="data.background" button=true owner=owner editable=editable}}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.GOALS"}}</h1>
        <div class="item-controls button">
            <a class="item-create" title="Add Goal" data-type="goal"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isGoal}}
                <div class="goal item table-element" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <div class="image-container">
                            <div class="image" style="background-image: url('{{item.img}}')"></div>
                        </div>
                        <div class="item-edit">{{item.name}}</div>
                    </div>
                    <div class="item-property type">{{item.subtype}}</div>
                    <div class="item-property">
                        {{#if item.completed}}
                            <a class="completed active" title="{{localize 'GOAL.COMPLETED'}}"><i class="fas fa-bolt"></i></a>
                        {{else}}
                            <a class="completed" title="{{localize 'GEAR.IN_PROGRESS'}}"><i class="fas fa-bolt"></i></a>
                        {{/if}}
                    </div>
     
                    <div class="item-controls button">
                        <a class="item-control item-delete" title="Delete Goal"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header" style="padding:0px 4px 0px 24px;">
        <h1>{{localize "TITLE.CONNECTIONS"}}</h1>
        <div class="button">
            <a class="item-create" title="Add Connection" data-type="connection"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isConnection}}
                <div class="connection item table-element" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <div class="image-container">
                            <div class="image" style="background-image: url('{{item.img}}')"></div>
                        </div>
                        <div class="item-edit">{{item.name}}</div>
                    </div>
                    <div class="item-controls button">
                        <a class="item-control item-delete" title="Delete Connection"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>