<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    </div>
    <div class="content-row">
        {{#each data.attributes as |attribute key|}}
            <div class="entry-vertical">
                <div class="roll-attribute content-label-centered" data-attribute="{{key}}">{{localize attribute.label}}</div>
                <input name="data.attributes.{{key}}.value" type="number" value="{{attribute.value}}" data-dtype="Number" />
            </div>
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
    </div>
    <div class="content-row">
        <div class="content-column">
            <div class="content-row">
                <div class="sheet-table-name bold">{{localize "HEADER.NAME"}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.TRAINING'}}">{{localize 'SKILL.TRAINING_ABBR'}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.POOL'}}">{{localize 'SKILL.POOL_ABBR'}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.FOCUS'}}">{{localize 'SKILL.FOCUS_ABBR'}}</div>
            </div>
            {{#each data.skills as |skill key|}}
                {{#if skill.isLeft}}
                    <div class="content-row" style="align-items: center;">
                        <a class="roll-skill sheet-table-name" data-skill="{{key}}">{{skill.label}}</a>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.training" type="number" value="{{skill.training}}" data-dtype="Number" /></div>
                        <div class="sheet-table-value">({{skill.value}})</div>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.focus" type="number" value="{{skill.focus}}" data-dtype="Number" /></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="content-column">
            <div class="content-row">
                <div class="sheet-table-name bold">{{localize "HEADER.NAME"}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.TRAINING'}}">{{localize 'SKILL.TRAINING_ABBR'}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.POOL'}}">{{localize 'SKILL.POOL_ABBR'}}</div>
                <div class="sheet-table-value bold" title="{{localize 'HEADER.FOCUS'}}">{{localize 'SKILL.FOCUS_ABBR'}}</div>
            </div>
            {{#each data.skills as |skill key|}}
                {{#if skill.isRight}}
                    <div class="content-row" style="align-items: center;">
                        <a class="roll-skill sheet-table-name" data-skill="{{key}}">{{skill.label}}</a>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.training" type="number" value="{{skill.training}}" data-dtype="Number" /></div>
                        <div class="sheet-table-value">({{skill.value}})</div>
                        <div class="sheet-table-value"><input name="data.skills.{{key}}.focus" type="number" value="{{skill.focus}}" data-dtype="Number" /></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="item-list">
    <div class="item-header">
        <h1 class="header-text">{{localize "TITLE.TALENTS"}}</h1>
        <a class="item-create absolute" title="Add Talent" data-type="talent"><i class="fas fa-plus"></i></a>
    </div>
    {{#each items.talents as |item|}}
        <div class="item" data-item-id="{{item.id}}">
            <div class="item-content">
                <div class="item-property item-name">
                    <div class="item-image">
                        <img src={{item.data.img}} />
                    </div>
                    <a class="">{{item.name}}</a>
                </div>
                {{#if item.nonTransferEffects.length}}
                    <div class="item-property">
                        <a title="Transfer effects to selected tokens" class="transfer-effect"><i class="fas fa-crosshairs"></i></a>
                    </div>
                {{/if}}
                <div class="item-controls">
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a> 
                    <a class="item-control item-post"><i class="fas fa-comment"></i></a> 
                </div>
            </div>
            <div class="item-content">
                <div class="item-property description dropdown-target">{{{enrich item.description}}}</div>
            </div>
        </div>
    {{/each}}
</div>
