<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.ABILITIES"}}</h1>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <div class="segment-horizontal"><img src="systems/age-of-sigmar-soulbound/asset/image/melee.png" width="24" height="24"/><input type="text" value="{{data.combat.melee.ability}}" disabled /></div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.melee.bonus" type="number" value="{{data.combat.melee.bonus}}" data-dtype="Number" /></div></div>
        </div>
        <div class="entry-vertical">
            <div class="segment-horizontal"><img src="systems/age-of-sigmar-soulbound/asset/image/accuracy.png" width="24" height="24"/><input type="text" value="{{data.combat.accuracy.ability}}" disabled /></div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.accuracy.bonus" type="number" value="{{data.combat.accuracy.bonus}}" data-dtype="Number" /></div></div>
        </div>
        <div class="entry-vertical">
            <div class="segment-horizontal"><img src="systems/age-of-sigmar-soulbound/asset/image/defence.png" width="24" height="24"/><input type="text" value="{{data.combat.defense.ability}}" disabled /></div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.defense.bonus" type="number" value="{{data.combat.defense.bonus}}" data-dtype="Number" /></div></div>
        </div>
    </div>
    <div class="content-row">
        <div class="entry-vertical">
            <h3>{{localize "HEADER.ARMOUR"}}</h3>
            <div class="sheet-table-valueMain"><input name="data.combat.armour.total" type="number" value="{{data.combat.armour.total}}" data-dtype="Number" /></div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input type="number" name=data.combat.armour.bonus" data-dtype="Number" value="{{data.combat.armour.bonus}}" /></div></div>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "HEADER.TOUGHNESS"}}</h3>
            <div class="segment-horizontal">
                <div class="sheet-table-valueMain"><input name="data.combat.health.toughness.value" type="number" value="{{data.combat.health.toughness.value}}" data-dtype="Number" /></div> / <div class="sheet-table-valueMain"><input type="number" value="{{data.combat.health.toughness.max}}" data-dtype="Number" disabled /></div>
            </div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.health.toughness.bonus" type="number" value="{{data.combat.health.toughness.bonus}}" data-dtype="Number" /></div></div>
        </div>
        <div class="entry-vertical">
            <h3>{{localize "HEADER.WOUND"}}</h3>
            <div class="segment-horizontal">
                {{#if data.combat.health.wounds.deadly}}
                <div class="sheet-table-valueMain"><input class="deadly" type="text" value="{{data.combat.health.wounds.value}}" disabled /></div>
                {{else}}
                <div class="sheet-table-valueMain"><input type="text" value="{{data.combat.health.wounds.value}}" disabled /></div>
                {{/if}}
                 / <div class="sheet-table-valueMain"><input type="text" value="{{data.combat.health.wounds.max}}" disabled /></div>
            </div>
            
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.health.wounds.bonus" type="number" value="{{data.combat.health.wounds.bonus}}" data-dtype="Number" /></div></div>
            
        </div>
        <div class="entry-vertical">
            <h3>{{localize "HEADER.METTLE"}}</h3>
            <div class="segment-horizontal">
                <div class="sheet-table-valueMain"><input name="data.combat.mettle.value" type="number" value="{{data.combat.mettle.value}}" data-dtype="Number" /></div> / <div class="sheet-table-valueMain"><input type="number" value="{{data.combat.mettle.max}}" data-dtype="Number" disabled /></div>
            </div>
            <div class="segment-horizontal">{{localize "HEADER.BONUS"}}: <div class="sheet-table-value"><input name="data.combat.mettle.bonus" type="number" value="{{data.combat.mettle.bonus}}" data-dtype="Number" /></div></div>
        </div>
    </div>
    <div class="content-row wounds-row">
        <div class="content-column combat-misc">
            <div class="segment-horizontal">
                <h3>{{localize "HEADER.INITIATIVE"}}</h3>
                <div class="sheet-table-value"><input name="data.combat.initiative.bonus" type="number"
                        value="{{data.combat.initiative.bonus}}" data-dtype="Number" /></div>
                <div class="sheet-table-value"><input type="number" value="{{data.combat.initiative.total}}"
                        data-dtype="Number" disabled /></div>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "HEADER.NATURAL_AWARENESS"}}</h3>
                <div class="sheet-table-value"><input name="data.combat.naturalAwareness.bonus" type="number"
                        value="{{data.combat.naturalAwareness.bonus}}" data-dtype="Number" /></div>
                <div class="sheet-table-value"><input type="number" value="{{data.combat.naturalAwareness.total}}"
                        data-dtype="Number" disabled /></div>
            </div>
            <div class="segment-horizontal">
                <h3><a class="speed-config">{{localize "HEADER.SPEED"}}</a></h3>
                <div class="sheet-table-value speed">
                    {{actor.Speed}}
                </div>
            </div>
        </div>
        <div class="content-column wounds-column">
            <div class="header-element">
                <b class="name">{{localize "WOUND.TYPE"}}</b>
                <b class="damage">{{localize "WOUND.DAMAGE"}}</b>
                <div class="button">
                    <a class="wound-create" title="Add Wound"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="segment-vertical wounds-list">
                {{#each data.combat.wounds as |wound w|}}
                <div class="table-element wound item" data-index="{{w}}">
                    <div class="name">
                        <div class="image-container">
                            <div class="image" style="background-image: url('{{wound.img}}')"></div>
                        </div>
                        <select class="wound-edit">
                            {{#select wound.type}}
                            <option value=""></option>
                            {{#each (config "woundType") as |type t|}}
                            <option value="{{t}}">{{type}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="damage">{{wound.damage}}</div>
                    <div class="button">
                        <a class="item-control wound-delete" title="Delete Wound"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.WEAPONS"}}</h1>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isAttack}}
                {{#if item.isActive}}
                    <div class="weapon item table-element" data-item-id="{{item.id}}">
                        <div class="roll-weapon">
                            <div class="table-element-row">
                                <div class="table-label bold">{{item.name}}</div>
                                <div class="table-label bold">{{item.damage}} {{localize "WEAPON.DAMAGE"}}</div>
                            </div>
                            <div class="table-element-row">
                                <div class="table-label">{{item.Traits}}</div>
                                <div class="table-label">({{item.pool}}d6) + {{item.focus}} F</div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>
<hr>
<div class="content-box">
    <div class="content-header">
        <h1>{{localize "TITLE.POWERS"}}</h1>
    </div>
    <div class="content-wrapper">
        {{#each actor.items as |item|}}
            {{#if item.isPower}}
                <div class="power item table-element" data-item-id="{{item.id}}">
                    {{#if item.isSpell}}
                        <div class="roll-power">
                            <div class="table-element-row">
                                <div class="table-label bold">{{item.name}}</div>
                                <div class="table-label bold">{{localize "POWER.DN"}} {{item.dn}}</div>
                            </div>
                            <div class="table-element-row">
                                <div class="table-label">{{localize "POWER.TARGET"}}: {{item.target}} in {{item.range}} {{localize "POWER.RANGE"}}</div>
                                <div class="table-label">{{localize "POWER.DURATION"}}: {{item.duration}}</div>
                            </div>
                        </div>
                    {{else}}
                        <div class="show-power">
                            <div class="table-element-row">
                                <div class="table-label bold">{{item.name}}</div>
                                <div class="table-label bold">{{localize "POWER.COST"}}: {{item.cost}}</div>
                            </div>
                            <div class="table-element-row">
                                <div class="table-label">{{localize "POWER.TARGET"}}: {{item.target}} in {{item.range}} {{localize "POWER.RANGE"}}</div> 
                                <div class="table-label">{{localize "POWER.DURATION"}}: {{item.duration}}</div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>