<div>
    {{formGroup fields.autoCalc.fields.wounds value=values.autoCalc.wounds label="CONFIGURE.AUTO_CALC_WOUNDS" hint="CONFIGURE.AUTO_CALC_WOUNDS_HINT" localize=true rootId=rootId}}
    {{formGroup fields.autoCalc.fields.toughness value=values.autoCalc.toughness label="CONFIGURE.AUTO_CALC_TOUGHNESS" hint="CONFIGURE.AUTO_CALC_TOUGHNESS_HINT" localize=true rootId=rootId}}
    {{formGroup fields.autoCalc.fields.mettle value=values.autoCalc.mettle label="CONFIGURE.AUTO_CALC_METTLE" hint="CONFIGURE.AUTO_CALC_METTLE_HINT" localize=true rootId=rootId}}
    {{formGroup fields.autoCalc.fields.tokenSize value=values.autoCalc.tokenSize label="CONFIGURE.AUTO_CALC_TOKEN" hint="CONFIGURE.AUTO_CALC_TOKEN_HINT" localize=true rootId=rootId}}
</div>