<div>
  {{formGroup fields.foot choices=(config "speed") value=values.foot label="HEADER.FOOT_SPEED" localize=true}}
  {{formGroup fields.flight choices=(config "speed") value=values.flight label="HEADER.FLY_SPEED" localize=true}}
  {{formGroup fields.swim choices=(config "speed") value=values.swim label="HEADER.SWIM_SPEED" localize=true}}
</div>