<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "CONFIGURE.AUTO_CALC_TOKEN"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.age-of-sigmar-soulbound.autoCalcTokenSize" {{checked
                object.flags.age-of-sigmar-soulbound.autoCalcTokenSize}}>
        </div>
        <p class="notes">{{localize "CONFIGURE.AUTO_CALC_TOKEN_HINT"}}</p>
    </div>

    <button type="submit">{{localize "Submit"}}</button>
</form>