<form>
    {{log this}}
    <div class="form-group">
        <label>Description</label>
        <div class="form-fields">
            <input name="description" type="text" class="script-condition" value="{{description}}">
        </div>
    </div>
    {{#if aceActive}}
        <h3>{{localize "EFFECT.ActivateIf"}}</h3>
        <div class="ace-editor script"><input></div>
        <h3>{{localize "EFFECT.HideIf"}}</h3>
        <div class="ace-editor hide"><input></div>
    {{else}}
        <h3>{{localize "EFFECT.ActivateIf"}}</h3>
        <textarea name="script" class="script-code" placeholder="{{localize 'EFFECT.ActivateHint'}}">{{script}}</textarea>
        <h3>{{localize "EFFECT.HideIf"}}</h3>
        <textarea name="hide" class="script-code" placeholder="{{localize 'EFFECT.HideHint'}}">{{hide}}</textarea>
    {{/if}}
    <button>Submit</button>
</form>